[2018-03-23 13:30] onlyjsmith opened #1 "CSV export of data"
- [x] write initial tests
- [x] outline implementation plan

[2018-03-23 13:31] onlyjsmith opened #2 "Include separate user analytics page for each country instance"
First task is to review Google Analytics configuration, see if possible to create a filtered page for each instance (Nam, Bwa, etc), and invite specified users to _only_ see their instance's analytics.

If not, will need to look for other solutions.

[2018-03-23 13:32] onlyjsmith opened #3 "Record relevant data collection timestamps"
From Sameen:

[2018-03-23 13:32] onlyjsmith opened #4 "Increase text/object size on data collection forms"
Critical for use on tablets. At the moment, the text and buttons are often too small, and hard to use, especially in the field (direct sun, moving about, etc).

We previously tried to fix quickly, and were able to change sizes of everything _except_ the forms. As the forms are rendered separately by `knockout`, we're going to need a different approach.

[2018-03-23 13:32] onlyjsmith opened #5 "Respect ‘Read’ and ‘Write’ user roles"
From Sameen:

[2018-03-23 13:32] onlyjsmith opened #6 "'Seasons' OR Archive annual data from past campaigns"
No question this is essential.

Has many implications, especially for changes in plans, form and geodata. We'll need to find a way to keep them in sync. Would be useful to think and talk this through together.

Depending on the approach we take, accessing past data may not be straightforward using the current interface by April, and we may need to find an alternative. Longer term we want to make a

[2018-03-23 13:43] onlyjsmith commented on #5
Have reviewed internally, believe is no longer an issue. Will close unless there's a new bug report.

[2018-03-23 13:45] onlyjsmith commented on #1
Reviewed needs, have implementation plan:
- need to extract unique columns from array of responses,
- create CSV from unique columns for every row in responses

[2018-03-26 10:37] TNgidi commented on #2
These were taken from a table sent by Sameen

**System Crash Rate** -->  How often the system experiences an unexpected exit
**System latency** -->  Round trip time from request to a response
**Data Sync Frequency** --> Time between data entry and data sync
**GPS Accuracy** --> Accuracy measure of collected GPS Points
**Monthly or daily active user** --> Number of unique users on a given day or mo

[2018-03-27 08:01] mosaic141688 commented on #1
this look doable

[2018-03-28 13:53] onlyjsmith opened #7 "Update BWA geodata to include all districts"

[2018-03-28 13:54] onlyjsmith commented on #7
@sbabur also notes

We'll need to think about how best to handle this, whether we have time to put in place any options for programmes to update their own geodata.

[2018-04-05 05:59] onlyjsmith commented on #7
Hi @sbabur - when can we expect to have the first updated version of this data?

[2018-04-05 06:07] onlyjsmith commented on #5
@sbabur please open a new issue if this bug crops up. closing this one.

[2018-04-05 06:07] #5 closed

[2018-04-09 07:41] onlyjsmith commented on #2
We've set up the filtered views for NAM and BWA. We are testing over the next couple of days to check that the right analytics events are coming through to the view - will update in here our results. Please note that the filters apparently take 24 hours to apply (no idea why), so this process might well take a few days... Also, this is linked to redeployment of production version (to update the Go

[2018-04-09 07:44] onlyjsmith commented on #2
Currently waiting - for redeployment of production version with updated UA

[2018-04-09 07:52] onlyjsmith commented on #2
Confirm the filtering approach looks like it can work.

Waiting to redeploy production version

[2018-04-09 07:53] onlyjsmith opened #8 "Redeploy staging and production"
- [x] staging
- [x] production

[2018-04-09 13:19] onlyjsmith commented on #6
### Admin
Admin can edit a list of _start dates_, each of which correspond to the first day of a season:
- add/remove dates
- works, but need to add validation to ensure valid date in correct format
- updates the instance configuration without requiring redeployment
<img width="1136" alt="screenshot 2018-04-09 15 05 57" src="https://user-images.githubusercontent.com/148280/38499667-9fafc616-3c08-1

[2018-04-09 13:42] onlyjsmith commented on #3
Have located places in code to insert timestamps.

1. We think the 'form-filling duration' measure might not make much sense if the form is edited: we're not using any in-page timers for activity yet. However, for simple 'open-form-and-complete' workflows it should work fine. Suggest only recording the time for the first form completion event, not any edits. (Could possibly also record the number

[2018-04-09 13:48] onlyjsmith commented on #1
- [ ] write initial tests
- [ ] outline implementation plan

[2018-04-10 08:34] onlyjsmith commented on #1
@sbabur - can you check the attached, it's a sample of what we'll be exporting once we've deployed this fix

Note this in an XLSX version, but it will actually be a CSV file (not possible to attach CSV in here). CSV version of file can be downloaded [here](https://www.dropbox.com/s/h0b2opxufpblvhd/nam_responses_2018-04-10_1028.xlsx?dl=0)

[nam_responses_2018-04-10_1028.xlsx](https://github.com/dis

[2018-04-10 08:59] sbabur commented on #1
@onlyjsmith Pefect! Can you confirm what happens to blank fields - would we see a blank or NULL?

[2018-04-10 09:51] onlyjsmith commented on #1
@sbabur will be blank fields

[2018-04-10 10:46] onlyjsmith commented on #3
@sbabur can you review this one too - is just an extract - have cut out any columns not related to timestamps

[nam_responses_2018-04-10_1241.xlsx](https://github.com/disarm-platform/user-requests-and-feedback/files/1894242/nam_responses_2018-04-10_1241.xlsx)

[2018-04-11 11:07] sbabur commented on #3
@onlyjsmith can you confirm/clarify my understanding of the different columns:

recorded_on | Form start   time?
initial_form_completion_duration_seconds |  Clear to me
most_recent_form_completed_time | Last time they hit Save?
form_sync_lag_minutes | Difference between last time they hit 'Save/Completion' and sync?
updated_at | Only recorded if a form is edited?

[2018-04-11 12:20] sbabur commented on #7
@onlyjsmith Hi Jonathan - I'm sending you the village and district shapefiles via email due to size/format. Please take a look and let me know if there are any issues.

Note that there are some ground validation activities occurring which may result in village refinements. Also, structure counts may be refined during trainings.

[2018-04-11 12:23] sbabur commented on #7
@onlyjsmith Nevermind - attaching here

[Admin_Districts_usedbyNMP.zip](https://github.com/disarm-platform/user-requests-and-feedback/files/1898727/Admin_Districts_usedbyNMP.zip)
[Villages (operational unit).zip](https://github.com/disarm-platform/user-requests-and-feedback/files/1898728/Villages.operational.unit.zip)

[2018-04-12 06:39] onlyjsmith commented on #3
1. `recorded_on` - when a user opens a new form
2. `initial_form_completion_duration_seconds` - lag between form being created and first time it's saved (not affected by subsequent edits)
3. `most_recent_form_completed_time` - the last time user clicks save
4. `form_sync_lag_minutes` - time between last save and successful sync
5. `updated_at` - I don’t think we control that, it might come from th

[2018-04-12 06:39] onlyjsmith commented on #7
Thanks - will take a look today

On 11 Apr 2018, 14:24 +0200, sbabur <notifications@github.com>, wrote:

[2018-04-13 14:43] onlyjsmith commented on #8
@sbabur we tried to redeploy for most of today - we've had to rebuild a server (been a while since we've deployed and things move on!) Should be able to get it working on Monday, and we'll send you a link

[2018-04-13 14:44] onlyjsmith commented on #4
@sbabur we think we've got a working solution for this. trying out and will let you have a look on a deployed staging version when it's up, aiming for early next week.

[2018-04-13 14:45] onlyjsmith commented on #6
@sbabur few last client-side changes to make and we'll include a working prototype in next staging deploy

[2018-04-13 15:04] mosaic141688 commented on #7
@sbabur and @HughSt  The bwa villages seem to be missing `Num_Rooms` (Number of rooms).
Can you remember where we this information came from last year?

[2018-04-18 13:49] onlyjsmith opened #9 "restore notification to user there is an update available"

[2018-04-19 08:29] sbabur commented on #7
Briefly:
1.	HOT ground-truthing/validation exercises are expected to modify the village boundaries and enumeration counts
2.	The final num_rooms count would ideally be an extension of Hugh’s model
3.	The final structure will be consistent – the only changes would be the exact boundaries and num_rooms integer
a.	Can we use placeholders at the moment for testing purposes, with the understanding that

[2018-04-19 09:32] onlyjsmith opened #10 "geodata loading progress says 'NaN %'"
The way the files (incl. geodata) are being stored and served has changed, to eventually make it easier for users to manage them. One knock-on is that it's no longer possible to estimate progress as we were doing.

Will either:
- remove the progress calculation and show an indeterminate 'loading' bar/spinner, or
- change the way server is providing the files to restore the calculation approach

[2018-04-19 09:37] onlyjsmith opened #11 "drop-down for Plan selector on Monitor page occasionally doesn’t work"
Sometimes it shows an empty with no plan options, instead of the plan dates - trying to figure out how to reproduce.

[2018-04-19 09:42] onlyjsmith opened #12 "change URLs for staging and production versions"
We are looking at simplifying the URLs for each version, possibly to just _app.disarm.io_ (and _app-stage.disarm.io_). This would make developing, testing and maintaining multiple versions easier, and would also be simpler for users to find the right version. But this is also a change to the way the app was used last year, so we need to be careful with how we approach this.

[2018-04-19 10:18] onlyjsmith opened #13 "upgrading from 1711.30.6 to 1.0.6 doesn't work 100%"
We know there were issues with this last year, causing problems for users. We improved the approach considerably towards the end of last year. While deploying this year, we’ve noticed it still doesn’t work 100%. We’re investigating, we've made more progress, but there are still some cases where it's causing problems - please let us know if you have _any_ issues upgrading, even if it subsequently w

[2018-04-19 14:52] onlyjsmith commented on #7
@HughSt please note that @sbabur wants to rerun your model from last year, based on some updated ground-truth data from HOT

[2018-04-19 15:07] onlyjsmith opened #14 "limit downloading of responses to filtered time periods"
For example, to match a given season start and end.

We already have this capability on the server, but the client is not using it. We need to make sure we have a robust way to make sure we're not re-downloading the same responses multiple times.

[2018-04-19 15:07] onlyjsmith opened #15 "import configuration for ZWE (MATS and MATN)"

[2018-04-19 15:12] onlyjsmith commented on #6
@sbabur please note that the current `start_dates` for each are random/made-up. You can edit on the Admin page, as above.

[2018-04-23 17:26] HughSt commented on #7
Sorry - I need to sort out notifications so I don't miss these. I will update the new shapefile before Wed 25th with the correct numbers and will post here for visibility.

[2018-04-23 18:15] onlyjsmith commented on #2
Filtered views created for all 5 instances (Bwa, Nam, Swz, Zwe-Mats, Zwe-Matn) on both staging and production. Have added @sbabur as viewer for all of them.

[2018-04-23 18:15] onlyjsmith commented on #10
Have fixed with a simpler loading animation.

[2018-04-23 18:16] onlyjsmith commented on #15
Configurations imported.

[2018-04-23 18:17] onlyjsmith commented on #8
@sbabur aiming to have production (e.g. bwa.app.disarm.io) redeployed by early afternoon tomorrow.

[2018-04-23 18:18] onlyjsmith commented on #13
@sbabur We've created a `reset_offline` page we're going to release in v1.0.7 (next staging release). Between that and the other work we've done, we should be able to clear up many issues with upgrading.

[2018-04-23 18:19] onlyjsmith commented on #11
Have identified issue and the fix is quick.

[2018-04-24 09:13] sbabur commented on #13
@onlyjsmith thanks, I did not experience any issues upgrading, but we will be testing on many different devices beginning early May

[2018-04-24 10:52] sbabur opened #16 "Sub-unit dropdown in data collection form does not display text for selected unit"
@onlyjsmith

https://www.useloom.com/share/0af8dd1286224f928e8320926bc80f13

To replicate:
Select admin unit 1 (area) - admin unit 1 reflects correct org unit text (e.g. 'Tutume' or 'Chobe')
Select admin unit 2 (sub-area) - admin unit 2 reflects text 'Select sub-area' and NOT the actual label of the selection

The selection part does work, its just a matter of the display text

[2018-04-24 11:17] sbabur opened #17 "Add household GPS point color-coding/form summary window to Nam"
Replicate what is seen in Botswana for the green/red/yellow household coordinates + high-level form summary

[2018-04-24 11:59] onlyjsmith commented on #16
@sbabur thanks - we're taking a look

[2018-04-24 12:24] onlyjsmith commented on #17
@sbabur We'll check what's needed for this, hoping it will be simple. If not, this will need to come later.

[2018-04-24 12:24] onlyjsmith commented on #16
@sbabur and btw, we can reproduce the bug

[2018-04-24 12:55] onlyjsmith commented on #17
@sbabur The colours are based on the form responses. We would need to know from you what are the definitions for each of the following - ideally in terms of the _aggregations_:

### Status/colours (with example aggregations for Botswana in brackets)
- not sprayable/blue: (`n_rooms_material == number_of_rooms`)
- not sprayed/red: (`any_sprayed == 'no'`)
- partial/yellow: (`number_of_rooms > number_

[2018-04-24 12:59] onlyjsmith commented on #16
@sbabur Have identified the problems and have fixed. Will include in next patch version. It was affecting all instances, so no need for duplicate bug reports if you see elsewhere

[2018-04-24 13:59] onlyjsmith opened #18 "increase performance for dashboard"
Via @sbabur

Suggest work on:
- [x] simplify filtering implementation
- [x] change sidebar functioning to avoid lag
- [x] change ‘state’ management to avoid mixing data and state

[2018-04-24 14:02] onlyjsmith commented on #13
@sbabur there's now a `reset.html` page for every instance, with a link to it from the loading screen. if the app stops loading, this can help by clearing out the offline mode. You can also get to it by visiting e.g. https://nam.app-stage.disarm.io/reset.html

Related work on #9 (update notification)

[2018-04-24 14:28] onlyjsmith commented on #8
@sbabur production is deployed as well (should see it as version `v1.0.8-8-g7c3106e`) e.g. at https://bwa.app.disarm.io

Please remember that without an `instance_id` set, this is the live production data. Feel free to use an instance_id to test it out.

There are two URLs for each which might be useful, e.g. for Namibia:
- https://nam.app.disarm.io/meta/logout - this forces a logout (but not clea

[2018-04-24 15:23] sbabur commented on #17
@onlyjsmith I didn't think we had a blue color coding for Botswana, I thought it was just green/red/yellow?

For Namibia it would be:
Not sprayed:  numbersprayed_ddt == 0 AND numbersprayed_delta == 0
Partially sprayed: 0 < numbersprayed_ddt +numbersprayed_delta < number_sprayable
Fully sprayed: number_sprayable = numbersprayed_ddt +numbersprayed_delta

[2018-04-24 23:47] HughSt commented on #7
@sbabur @onlyjsmith here is the updated village file for BWA. This includes NumStrct (estimated number of residential structures from OSM using the machine learning model) and Num_Rooms (estimated by modeling the relationship between median building size and mean number of rooms/building from observed data - provided by Katelyn last year). Please take a look and see whether this looks OK. Bear in

[2018-04-25 03:50] HughSt commented on #7
Updated file attached without missing values for risk
[bwa.villages.zip](https://github.com/disarm-platform/user-requests-and-feedback/files/1945407/bwa.villages.zip)

[2018-04-25 04:43] HughSt commented on #7
Updated BWA village data with risk (with no missing values) and slightly updated Num_rooms estimate
[bwa.villages.zip](https://github.com/disarm-platform/user-requests-and-feedback/files/1945481/bwa.villages.zip)

[2018-04-25 05:59] onlyjsmith commented on #16
Confirm fix is deployed on staging as version `v1.0.8-12-g6567296`

[2018-04-25 06:14] onlyjsmith opened #19 "when single user permission changes, don't force ALL users to logout/login"

[2018-04-25 06:24] onlyjsmith opened #20 "add name to Plan"
Currently when you edit an existing Plan, the 'name' of the plan is the old timestamp. You'd expect to have the timestamp update, but it stays the same.

[2018-04-25 06:30] onlyjsmith opened #21 "season filtering exclusive/inclusive"
Need to confirm we're doing the filtering correctly for both:
- [ ] e.g. if to _today_, needs to be `<=` today's date
- [ ] season-selector

[2018-04-25 06:41] onlyjsmith commented on #21
@sbabur gave this example: she added a single record on April 24, set the filter and could still see the single record

![img_25042018_132905_0](https://user-images.githubusercontent.com/148280/39229787-59e1c478-4864-11e8-8041-c31206fc9650.png)

[2018-04-25 07:20] onlyjsmith commented on #19
@sbabur have checked and this doesn't happen. If you change permissions for a single user, that user has to logout (to make sure that deleted/downgraded users no longer have access). But all other users should be fine.
Closing, but please open a new one if you see anything like this.

[2018-04-25 08:33] onlyjsmith opened #22 "delete this - test issues"

[2018-04-25 08:41] onlyjsmith commented on #22
closing test card

[2018-04-25 08:44] #22 closed

[2018-04-25 08:44] onlyjsmith opened #23 "delete this - another test issue"

[2018-04-25 08:45] onlyjsmith commented on #23
closing test issue

[2018-04-25 08:45] #23 closed

[2018-04-25 08:48] onlyjsmith opened #24 "delete this - last testing card"
Some useful description

[2018-04-25 08:49] onlyjsmith commented on #24
No comments though

[2018-04-25 08:51] onlyjsmith commented on #24
close test card

[2018-04-25 08:51] #24 closed

[2018-04-25 08:52] onlyjsmith opened #25 "delete this - another test card"
With some descriptuon

[2018-04-25 08:52] #25 closed

[2018-04-25 11:41] onlyjsmith commented on #9
@sbabur this is deployed to staging as version `v1.0.8-16-g69ab6b7`

[2018-04-25 11:43] onlyjsmith commented on #13
@sbabur we said we'd move this to done once #9 was released. It's now on staging, so move this to done.

[2018-04-25 11:59] onlyjsmith commented on #17
@sbabur thanks. we think we've been able to implement this, and it's deployed already on staging version `v1.0.8-16-g69ab6b7`

[2018-04-26 09:51] onlyjsmith commented on #21
@sbabur filtering fixed. released on staging as version `v1.0.8-18-g569af00`

[2018-04-26 10:32] onlyjsmith commented on #7
It looks like a lot of villages cross district boundaries in the 2018 updated geodata. As with Namibia last year (villages in multiple constituencies), this will cause problems with our current planning and aggregation approach.

<img width="848" alt="screenshot 2018-04-26 12 33 36" src="https://user-images.githubusercontent.com/148280/39301035-1aa6ed02-494e-11e8-94b7-dc51f1d1ed5a.png">
<img width

[2018-04-27 04:29] sbabur commented on #7
@onlyjsmith I discussed this with Ayo, and we are happy to get rid of the Planning district dropdown, and allow users to plan any area at once, without any district restrictions. Would that address the issue here? I recall with Namibia the problem was restricted to the selection of the polygon.

Although the polygons overlap, each village is indeed only assigned to one district, so we should stick

[2018-04-27 12:54] TNgidi opened #26 "Possible to add duplicate season dates"

[2018-04-30 08:17] sbabur commented on #13
@onlyjsmith upgrade process is working smoothly - can close this issue

[2018-04-30 08:19] sbabur commented on #8
@onlyjsmith All looks good - can close

[2018-04-30 08:20] sbabur commented on #2
@onlyjsmith - looks good, can close issue

[2018-04-30 09:56] sbabur commented on #21
@onlyjsmith Working correctly when I test - we can close this.

[2018-04-30 10:03] sbabur opened #27 "Clean up PROD plans"
With the new approach for creating season Plans, there are a lot of legacy plans in the system due to the sequential updates that were made since users hit 'Save' a number of times last year.

Can we clean these up? Only the most recent plan is the real 2017/2018 plan.

Going forward with the new approach, they will continue to update the single annual plan, rather than creating sequential plans i

[2018-04-30 10:03] sbabur commented on #27
@onlyjsmith Example from Namibia - only most **recent** plan is the real one, rest are all drafts

![image](https://user-images.githubusercontent.com/37877007/39422634-736466de-4c98-11e8-981c-4b384e834583.png)

[2018-04-30 10:18] onlyjsmith commented on #1
This issue was moved to locational/_tickets#63

[2018-04-30 10:18] #1 closed

[2018-04-30 12:50] sbabur commented on #21
@onlyjsmith Just tested Namibia Staging and I am seeing the same issue actually -

![image](https://user-images.githubusercontent.com/37877007/39427910-c065ba7a-4caf-11e8-946b-6470cd30408f.png)

[2018-04-30 13:00] sbabur opened #28 "New records not showing up in Namibia Dashboard, Syncing issue?"
Including a video as I'm not really sure what the issue is here

I submitted 2 records for Namibia Stage. From Monitor Season options Oct 2017 and Dec 2018, I selected Oct 2017. However the records I submitted on April 30th are not showing up in Monitor when October 2017 is selected, and I don't see any place where the filters would be impacting this. I also removed all filters and re-loaded the r

[2018-04-30 13:04] sbabur commented on #28
![image](https://user-images.githubusercontent.com/37877007/39428397-6a6c0122-4cb1-11e8-9d3e-16b867c53f03.png)

[2018-04-30 13:34] onlyjsmith commented on #27
Yes - we can sort this out. Will do this week and update you

[2018-04-30 13:50] onlyjsmith commented on #28
thanks @sbabur - definitely shouldn't be happening. we're looking at now.

[2018-04-30 14:46] #2 closed

[2018-04-30 14:48] onlyjsmith commented on #21
Can you confirm the version number you’re using for Namibia? Is in sidebar.

[2018-04-30 14:53] #8 closed

[2018-04-30 14:53] onlyjsmith commented on #13
👍

[2018-04-30 14:53] #13 closed

[2018-04-30 18:54] onlyjsmith opened #29 "Update NAM geodata"
Expecting updated data on Weds/Thurs. Aiming to have deployed for use in-country on Monday 7 May.

cc/ @sbabur

[2018-04-30 18:59] HughSt commented on #29
Taking a look today at the latest data being collected from the field, will update asap.

[2018-05-01 04:12] sbabur commented on #21
@onlyjsmith Seasons selection seems to be ok, just an issue when custom dates are used. Version Version v1.0.10-1-g03f76b3:

Seasons:
![image](https://user-images.githubusercontent.com/37877007/39460802-80e6bae4-4d30-11e8-92ae-74e950684417.png)

Custom Dates:
![image](https://user-images.githubusercontent.com/37877007/39460783-6f8e9172-4d30-11e8-8c0c-f231cb9f31a0.png)

[2018-05-01 10:26] onlyjsmith commented on #21
Thanks - we'll investigate

[2018-05-01 10:35] onlyjsmith commented on #21
Ok, I've seen where this is going wrong. We've actually already fixed this, but not deployed the fix yet. We'll either extract the fix from the larger piece of work, or will make the change separately - either way we'll deploy this week,

[2018-05-02 08:15] onlyjsmith commented on #28
@sbabur can you retry, but this time try clicking the "Include responses outside plan" checkbox at the bottom of the filters. We think there may not be a problem with syncing, but with the fact that we default to only showing responses that are within the plan.

<img width="466" alt="screenshot 2018-05-02 10 10 46 https nam app-stage disarm io irs monitor" src="https://user-images.githubuserconten

[2018-05-02 08:22] onlyjsmith commented on #26
@sbabur Have fixed this on server and client, will deploy in next round of fixes.

[2018-05-02 14:39] onlyjsmith commented on #29
@sbabur Namibia villages updated on _staging_ with the attached file
[nam.villages.20180502.json.zip](https://github.com/disarm-platform/user-requests-and-feedback/files/1967669/nam.villages.20180502.json.zip)

I've checked and it looks changed on staging. If you confirm you're happy I'll update on production too.

[2018-05-02 14:56] onlyjsmith commented on #7
@sbabur thanks for the reply, we've been working through the implications since the start of the week. Still going...

[2018-05-03 07:35] sbabur commented on #28
@onlyjsmith Yup, that was the issue. All is well and we can close this. Training tip :)

[2018-05-03 07:35] #28 closed

[2018-05-03 07:48] sbabur opened #30 "User permissions error with Admin - Season write"
@onlyjsmith
I am getting the below errors when I update seasons, however the permissions are set correctly:

![image](https://user-images.githubusercontent.com/37877007/39565054-babad014-4ee0-11e8-9c41-511b4f5055fe.png)

![image](https://user-images.githubusercontent.com/37877007/39565062-bf80c1d0-4ee0-11e8-9ca1-1eff8e820606.png)

[2018-05-03 07:50] sbabur opened #31 "Issue with Admin- Seasons read"
User with read-only seasons privilege cannot access page

https://www.useloom.com/share/cc770ef14738402db9e917963a0eb13c

[2018-05-03 09:28] sbabur commented on #29
@onlyjsmith Katelyn did some spot checking and gives her seal of approval - this can be updated on production

[2018-05-03 11:10] onlyjsmith commented on #31
Can you try again for this and #30?

I think there was a missing `config` permission that's also required.

We will be significantly improving the users management as part of our next phase.

[2018-05-03 13:10] onlyjsmith commented on #27
Update:
- [x] kept the plans from `production` for NAM, BWA, ZWE-MATS, ZWE-MATN, SWZ
- [x] all the other plans on `staging` and `production` are deleted

Rationale:
- there should be only one plan for each of the `production` instances, and we should expect `staging` to be deleted or wiped at any point

Can discuss on call today

[2018-05-03 14:33] onlyjsmith commented on #29
@sbabur thanks. Updated on Production too

[2018-05-03 14:36] onlyjsmith commented on #18
@sbabur Moving to 'ready'. We've done some research and prelim testing, and have some good ways to move forward.

Will update from some early tests onto this card.

[2018-05-03 14:37] onlyjsmith commented on #20
@sbabur We're reviewing the code for some changes here. Will update here.

[2018-05-03 14:38] onlyjsmith commented on #3
@sbabur ok to close?

[2018-05-03 14:39] onlyjsmith commented on #4
@sbabur this is on staging - ok to close?

[2018-05-03 14:39] onlyjsmith commented on #6
@sbabur ok to close?

[2018-05-03 14:39] onlyjsmith commented on #10
@sbabur ok to close?

[2018-05-03 14:39] onlyjsmith commented on #15
@sbabur ok to close?

[2018-05-03 14:40] onlyjsmith commented on #11
Have found and fixed a small bug. Think this is ready to close? @sbabur

[2018-05-03 14:41] onlyjsmith commented on #16
@sbabur ok to close?

[2018-05-03 14:41] onlyjsmith commented on #9
@sbabur ok to close?

[2018-05-03 14:41] onlyjsmith commented on #17
@sbabur ok to close?

[2018-05-03 14:41] onlyjsmith commented on #21
@sbabur Fix is deployed on staging. Ok to close?

[2018-05-03 14:42] #26 closed

[2018-05-03 15:20] onlyjsmith commented on #12
From Sameen - if having an effect on users, no later than mid-June.

[2018-05-03 15:26] onlyjsmith commented on #7
Works as follows:
- _Record_: the dropdown for location selection is based on the villages and which district they belong to
- _Aggregations_: depends on the district a village belongs to
- _Plan_: no district-level restriction on planning

[2018-05-04 02:30] sbabur commented on #7
@onlyjsmith This matches the desired behavior - we can proceed

[2018-05-04 02:35] sbabur commented on #21
@onlyjsmith Ok to close, can deploy to PROD after Namibia microplanning is done

[2018-05-04 02:45] sbabur opened #32 "Changing permissions forces all users to log out - re-add"
@onlyjsmith

https://www.useloom.com/share/91ff1d6063d84bb4b0195ffa1ee174c9

Not offline
Botwana syncs just fine
Namibia is not syncing

[2018-05-04 02:47] sbabur commented on #32
@onlyjsmith It worked after I just logged out and logged back in.

I did just add a new user to the Namibia instance a few minutes ago - could this be the same issue where changes to the user list require all users to log out and then log back in?

[2018-05-04 02:54] sbabur commented on #32
@onlyjsmith I just made another change to the permissions and got a 'current API key' not valid error, so I think this is where the issue is

[2018-05-04 02:59] sbabur commented on #17
@onlyjsmith Working as expected - ok to close

[2018-05-04 02:59] sbabur commented on #9
@onlyjsmith ok to close

[2018-05-04 02:59] sbabur commented on #16
@onlyjsmith ok to close

[2018-05-04 03:00] sbabur commented on #11
@onlyjsmith ok to close - I have not run into this issue yet but will re-open if I see it

[2018-05-04 03:01] sbabur commented on #6
@onlyjsmith ok to close

[2018-05-04 03:43] sbabur commented on #4
@onlyjsmith ok to close

[2018-05-04 03:44] sbabur commented on #3
@onlyjsmith ok to close

[2018-05-04 03:44] sbabur commented on #10
@onlyjsmith ok to close

[2018-05-04 03:55] sbabur commented on #20
@onlyjsmith Let's put this off until after microplanning then - I'm creating training materials right now and then am traveling so I won't have enough time to test/update training materials before the team starts using it

[2018-05-04 05:44] sbabur opened #33 "User Authentication changes not working"
@onlyjsmith

I modified user nam2 - after 1 hour updated username is still not found by system

![image](https://user-images.githubusercontent.com/37877007/39614267-cc25ae9c-4f98-11e8-85fd-b8f15f8ccc07.png)

I created user nam 32- after 1.5 hours the user is still not found by the system

![image](https://user-images.githubusercontent.com/37877007/39614262-c11688d2-4f98-11e8-8268-261f218898f0.png)

[2018-05-04 06:32] #10 closed

[2018-05-04 06:32] #3 closed

[2018-05-04 06:32] #4 closed

[2018-05-04 06:32] #6 closed

[2018-05-04 06:32] #11 closed

[2018-05-04 06:32] #16 closed

[2018-05-04 06:32] #9 closed

[2018-05-04 06:32] #17 closed

[2018-05-04 08:43] onlyjsmith commented on #32
@sbabur thanks. Users who've had their permissions changed will need to, but everyone else will have no issues. The original bug we opened on this was more of a 'check this', than an actual bug.

So the issue you're reporting is likely to be something else. I'll close this, and open a new issue.

[2018-05-04 08:43] #32 closed

[2018-05-04 08:44] onlyjsmith opened #34 "Problem syncing from record"
useloom.com/share/91ff1d6063d84bb4b0195ffa1ee174c9

Not offline
Botwana syncs just fine
Namibia is not syncing

Related to #32

[2018-05-04 09:04] onlyjsmith commented on #33
@sbabur We've changed the way the sheets updates the users. It will be more reliable in response to edits to the sheet. It should take between 10-20 mins for changes to propagate, but could be much shorter, just a few minutes. This will be improved as part of the upgraded user editing flow.

Can you confirm that the user-changes you made are currently working, and that any other changes are visibl

[2018-05-04 09:06] onlyjsmith commented on #30
@sbabur ok to close? This should be closed by changes noted on #33

[2018-05-04 09:06] onlyjsmith commented on #31
@sbabur ok to close? This should be closed by changes noted on #33

[2018-05-04 09:07] onlyjsmith commented on #34
@sbabur opened this, and investigating.

[2018-05-04 10:06] sbabur commented on #33
@onlyjsmith new users are able to log in, but Seasons + Config doesn't seem to be working

https://www.useloom.com/share/24362a6eef7e4d02911fdd788f493283

[2018-05-04 10:52] sbabur opened #35 "Namibia village selections - ensure unselectable villages are clipped"
I think there were only a handful of villages that truly could not be selected despite trying all overlapping districts from the dropdown selection, but can you confirm that the problematic ones are clipped as needed?

Also, some intermittent issue with the polygon multi-village selector:

https://www.useloom.com/share/c287e29832a74c6185d0181831577554

[2018-05-04 11:28] onlyjsmith commented on #34
This is due to the permissions change. There are actually two messages that pop up, but the one saying 'logout and login again' is hidden by the first. We'll change the notification to make it clearer.

[2018-05-04 11:31] onlyjsmith commented on #35
@sbabur noted - taking a look.

[2018-05-04 12:36] onlyjsmith commented on #21
@sbabur Afraid this is already merged into two of the other fixes in the next release (removing District filter for BWA, and restricting adding duplicate seasons), so can't delay releasing this one, without not doing any of the other fixes.

[2018-05-04 12:41] onlyjsmith commented on #20
@sbabur This was on the 'nice-to-have' for this week, but we can delay it.

Just to note, as with issue #21, sometimes the code is already merged in for use with other features, and we can't hold back an individual feature. We can always fix bugs with it, and in extreme cases we might be able to disable it. Hope this makes sense!

[2018-05-04 13:16] onlyjsmith commented on #33
We can reproduce. Working on fix.

[2018-05-08 18:30] onlyjsmith commented on #27
@sbabur ok to close?

[2018-05-09 08:50] onlyjsmith opened #36 "Missing Namibia 2017 plan"

[2018-05-09 08:51] onlyjsmith commented on #36
@sbabur just to confirm our messages this morning, there was no plan from 2017 for Namibia. We've restored the most recent one from our backups.

[2018-05-09 10:07] sbabur commented on #36
@onlyjsmith Thanks, we can close this now. The 'Add Name to Plan' + additional training should address this in the future.

[2018-05-09 10:10] sbabur commented on #27
@onlyjsmith Yup - ok to close. I'll open up another support item to clean up the 2018/2019 Namibia plan so we have a single National plan (I think it will just be a matter of deleting the ones the team added this week and uploading the one Katelyn and I give you)...as a heads up

[2018-05-09 10:54] sbabur opened #37 "Named Plan is duplicated"
From Botswana Staging:

![image](https://user-images.githubusercontent.com/37877007/39811155-17496286-5388-11e8-9b18-1bd406da1b77.png)

[2018-05-09 10:56] #37 closed

[2018-05-09 10:56] sbabur commented on #37
Can't replicate this at the moment - will let you know if I see this happen again

[2018-05-09 11:59] sbabur opened #38 "Botswana Polygon Selection Issue - 2 villages selected with 1 click, mismatch between Campaign Summary count and Plan count"
@onlyjsmith

https://www.useloom.com/share/5210a8c496144c9c9a53411d6dce687a

Tried to select 1 polygon, 2 were selected
Campaign Summary reflects 10 villages
Plan Output table reflects 11 villages
Plan Load reflects 11 villages

[2018-05-09 15:34] #36 closed

[2018-05-09 15:38] onlyjsmith commented on #34
@sbabur we've done this on staging, but won't release to master until next release (which we can hold until after training)

[2018-05-09 15:38] onlyjsmith commented on #35
@sbabur think this is closed

[2018-05-09 15:42] onlyjsmith commented on #35
@sbabur Sorry, not this issue. We're still looking at this.

[2018-05-09 18:44] onlyjsmith commented on #27
Thanks - sounds good. Let us know when the planning is done, and we can
also take a look at what's been created.

[2018-05-09 18:47] onlyjsmith commented on #37
Ok - thanks. Please do!

[2018-05-10 08:36] onlyjsmith commented on #38
@sbabur Thanks. We can confirm.

There may have been a new field added in the updated data called ‘unique_ID’. We didn’t change any config to match, so it’s using the original id field, which contains duplicates.

What is the timing for a fix to this? We could do with thinking this through properly before figuring the best way to fix.

[2018-05-10 09:22] onlyjsmith commented on #35
There shouldn’t be any villages that are not selectable now. Can you check you’re on the latest version (v1.0.12). We’ve tried on a few different machines and cannot reproduce.

[2018-05-10 09:26] sbabur commented on #38
@onlyjsmith Not urgent, we are aiming to do a bunch of testing over the next 2 weeks to try and uncover any lingering bugs, and would like all bug fixes to be made by June 8th in time for program field-testing - we can discuss timelines more on our call.

[2018-05-10 09:27] sbabur commented on #35
@onlyjsmith We think this is working 100% now - can close

[2018-05-10 09:28] sbabur commented on #35
@onlyjsmith We can close this - selection for Namibia is working per all of our tests. If something does come up again, we can re-open.

[2018-05-10 09:38] onlyjsmith commented on #38
Sounds good. We will want to have a fix working and tested before June.

[2018-05-10 09:38] onlyjsmith commented on #35
Ok - thanks.

[2018-05-10 09:38] #35 closed

[2018-05-15 13:20] onlyjsmith commented on #38
This worth discussing tomorrow.

We’ve nearly finalised the plan for longer-term fixing of this. It will relate to the concept of ‘packaging’ up a Plan, some Responses and some Geodata into a ‘Season’, or something similar.

Mostly it has implications for ‘backwards compatibility’ - for example, the geodata is now updated and uses a different field to identify areas, let’s call it “new_field”. Las

[2018-05-15 13:30] onlyjsmith opened #39 "update BWA rooms estimates from updated OSM data"

[2018-05-15 13:30] onlyjsmith commented on #39
Currently awaiting updated OSM data from HOTOSM

[2018-05-17 11:58] onlyjsmith opened #40 "cannot select Ngami in Monitor spatial filter"

[2018-05-17 11:58] onlyjsmith commented on #40
Just noted - will check against the geodata.

[2018-05-17 12:33] onlyjsmith opened #41 "BWA + NAM manually ensure given geodata polygon IDs are unique"

[2018-05-17 12:33] onlyjsmith commented on #7
Need to ensure production and staging match, even if they're going to be updated #41 and #39

[2018-05-17 15:02] onlyjsmith commented on #41
@sbabur referring to a similar issue from last year (https://gitlab.com/disarm/douma-app/issues/398), I've updated the villages geodata the same way.

In addition, there were 4 villages without names (in the `VILLAGE` field). They were `Id` 2,
3, 4 and 5. I've added them as `VILLAGE_ID_2`, `VILLAGE_ID_3`, `VILLAGE_ID_4`, and `VILLAGE_ID_5`.

I'm attached a ZIP with the current village and district

[2018-05-17 20:04] sbabur opened #42 "Monitor should only show admin units in Plan"
The map and summary tables should only show the admin units in the Plan that is loaded - this make interpreting the dashboard very difficult as you see a sea of red on the map, and a coverage table full of 0's and you would simply have to remember what was in the plan and what wasn't.

https://www.useloom.com/share/56988014497346ad88dc1315d4d96f7f

[2018-05-18 03:47] onlyjsmith opened #43 "Can we remove clusters from BWA configuration"
I don't think they're used anywhere, but the current configuration requires users to download them.

[2018-05-18 03:49] onlyjsmith commented on #41
@sbabur Confirming that you don’t need to visit `/meta/geodata`, it tells you there’s updated geodata.

Linked issue of #43, would reduce required data downloads.

[2018-05-18 03:50] onlyjsmith commented on #7
Staging and production currently match, config updated and geodata version number bumped. Closing again.

[2018-05-18 03:50] #7 closed

[2018-05-18 03:51] onlyjsmith commented on #43
@sbabur can you confirm if they’re still required?

[2018-05-18 03:55] onlyjsmith commented on #42
Thanks @sbabur, we’ll take a look. Can you check if you’ve got the ‘show responses outside plan’ checkbox turned on - it’s on the ‘advanced’ tab.

[2018-05-18 09:45] sbabur opened #44 "Changing season in one instance impacts seasons in all instances"
I added a new season in instance ID tilipimi-8

After saving, the new season was also reflecting in the production instance

https://www.useloom.com/share/9848aa2c9aec4c37b6a6ebd295a48c17

[2018-05-18 09:55] sbabur opened #45 "Encountering 'Error: Plan not valid' when attempting to view last year's IRS data on Monitor"
Using the production instance:

https://www.useloom.com/share/b883ebd1c8aa4a5da109e3f5aed8e8ec

[2018-05-18 10:02] onlyjsmith commented on #44
That’s currently the expected behaviour. The season start_dates are written directly onto the configuration that’s used for all instances. We’re looking at ways to improve as we go forward, but currently we only have one configuration for a country, which is used across all the instance_ids.

[2018-05-18 10:04] onlyjsmith commented on #45
Thanks - taking a look.

[2018-05-18 10:06] sbabur commented on #44
@onlyjsmith Noted - can close

[2018-05-18 10:11] sbabur opened #46 "Records created yesterday on test instances not appearing"
I created and synced 1 record each for the following Namibia test instances. I'm not seeing them in Monitor even after selecting 'Include responses outside of plan'

Instance   ID
vayoxodo-436
tilipimi-8
wixocaye-904
tujiwupo-868
hudiyipu-307
locesavi-476
yuzenogo-271
nocapiyo-144

 
 
 

[2018-05-18 10:15] sbabur commented on #42
@onlyjsmith Behavior is the same regardless of whether box is checked or unchecked:

https://www.useloom.com/share/4a13b759a9a84c6c8634474385f13269

With the box checked, we would expect to see the GPS coordinates on the map, but don't expect to see them included in the aggregation calculations, and don't expect to see non-plan admin units appear in either the map or summary table.

[2018-05-18 10:26] sbabur opened #47 "Too easy to save multiple plans w/ same name"
Upon clicking the Create button, I've noticed the system sometimes quietly registers 2-3 plans depending on how the user clicks (its really easy to accidentally to this). Similar to seasons, can we make sure Plan names are not identical with message 'Plan with this name already created'

![image](https://user-images.githubusercontent.com/37877007/40230102-b7f5a1a8-5a96-11e8-81e2-75181bf8b1aa.png)

[2018-05-18 14:39] onlyjsmith commented on #42
Thanks for checking. We’re working on the issue.

[2018-05-18 14:39] #44 closed

[2018-05-18 14:40] onlyjsmith commented on #45
Plans now _must_ have a name. We’ll see if we can update all last year’s plans to have one - will be ‘Unnamed’ or similar, but will stop them breaking the current application.

[2018-05-18 17:34] sbabur commented on #45
@onlyjsmith Can you just name them '2017 IRS Plan' ?

[2018-05-20 13:58] sbabur commented on #41
@onlyjsmith Working on this with Katelyn - will provide you with the updated file containing re-assigned unique ID's + village names shortly.

[2018-05-20 14:00] sbabur commented on #43
@onlyjsmith Why would you want to remove these? Is this a size issue?

[2018-05-21 11:38] sbabur commented on #41
@onlyjsmith from Katelyn, we can provide you with these fixes + the HOT updates all bundled together in ~3 weeks? That way you only need to make 1 swap. Does that work?

"I can make these changes and ensure the IDs from last year are the same, but is this needed urgently? We are hoping to make updates to the shapefile over the next three weeks during the HOT-Phase II trainings.

I will also add na

[2018-05-21 14:24] onlyjsmith commented on #46
@sbabur We can't find any records in _app-stage_ DB, and we can't reproduce. I can find records in the live production DB matching those instance_ids. Is it possible you're saving in e.g. `nam.app-stage`, and trying to load again in `nam.app`?

[2018-05-21 14:25] onlyjsmith commented on #42
We’ve implemented a fix  - should be released on staging tomorrow to test.

[2018-05-21 14:25] onlyjsmith commented on #47
We’ve implemented a fix - should be released on staging tomorrow to test.

[2018-05-21 14:26] onlyjsmith commented on #45
Sure - we’ll rename them to that tomorrow.

[2018-05-22 06:31] sbabur commented on #46
@onlyjsmith I was recording these record in nam.app using the listed test instances. Do you see any records there from May 17th? Its always possible I saved in nam.app-stage but I really don't think this was the case.

[2018-05-22 06:48] sbabur opened #48 "Map zooms out when selecting villages on Plan"
@onlyjsmith Overall I've noticed huge improvements in the tool here. It used to do this a lot but this is the first time I've encountered it in the last week while seeing up a bunch of test plans:

https://www.useloom.com/share/fd3c1041bc7e4ac7934458a6849e09cc?focus_title=1&muted=1

[2018-05-22 07:03] onlyjsmith commented on #46
Thanks for confirming - I misunderstood the ‘test’ instances in the original post. We can see the records in the DB on `nam.app`, but I also cannot get them to reappear on the Monitor page. Will investigate further.

[2018-05-22 07:04] sbabur commented on #46
@onlyjsmith Thanks! Phew - glad you are able to see them and you have the breadcrumbs you need.

[2018-05-23 12:03] onlyjsmith commented on #41
That sounds good. We’re working on some better ways to validate new geodata, which we hope will be functional by then.

[2018-05-23 12:09] onlyjsmith commented on #41
We’ve noted duplicate villages with an `Id` field of: 38, 377
We’ve noted MultiPolygon villages with an `Id` field of: 349

[2018-05-23 17:57] onlyjsmith commented on #43
Yes - only that. Is fine to leave them in. They were removed from other instances, so thought I’d check.

[2018-05-24 13:06] onlyjsmith opened #49 "every time we update seasons start_date we remove location_selection"

[2018-05-24 13:07] onlyjsmith commented on #49
@sbabur We’re working on this now...

[2018-05-24 13:29] sbabur commented on #49
@onlyjsmith You mean this? Can you deploy the fix to production when its ready?

![image](https://user-images.githubusercontent.com/37877007/40488490-3085b840-5f67-11e8-8add-1928f8cc1222.png)

[2018-05-24 13:36] onlyjsmith commented on #49
Yes - we’ll hotfix in a few mins and will let you know.

[2018-05-24 14:08] TNgidi commented on #49
@sbabur We have fixed this issue now on version 1.2.1 and it is already deployed on production and staging. This problem came in a while back when we were introducing seasons, but it is fixed now.
We would kindly ask that everyone upgrades to the version 1.2.1 because if anyone edits season dates on the old version (1.2.0) the bug will remove the location-selection the application again.

[2018-05-24 14:11] sbabur commented on #49
@onlyjsmith @TNgidi Great, thanks both - will have our testers update

[2018-05-24 14:19] sbabur opened #50 "Application freezes when custom location option used (bwa and nam)"
Reported by Katelyn on nam, production, instance ID hudiyipu-307, Samsung phone

Replicated by Sameen on nam, production, instance ID hudiyipu-307, Lenovo Thinkpad
Replicated by Sameen on bwa, production as well

https://www.useloom.com/share/5a6dff6b0568435fa6fd65e45ce68027?focus_title=1&muted=1

[2018-05-24 14:19] onlyjsmith commented on #49
Thanks! Sorry for the inconvenience. We're working hard to make sure we don’t need to force users to update.

[2018-05-24 14:30] TNgidi commented on #50
Thanks, we are investigating.

[2018-05-25 09:16] onlyjsmith commented on #45
We've renamed the plans without names to ‘2017 IRS Plan'

[2018-05-25 10:39] onlyjsmith commented on #50
hotfixed in v1.2.2

[2018-05-25 10:40] onlyjsmith commented on #48
fixed in v1.2.1

[2018-05-25 10:42] onlyjsmith commented on #46
We were not able to reproduce this issue. We can see the records on Monitor. It’s possible that an instance without a plan was causing problems, but we might have fixed whatever issue was causing is, as we can’t reproduce that use-case either.

[2018-05-25 10:43] onlyjsmith commented on #46
@sbabur Can you confirm if it still happens? Maybe we can close and reopen if it reopens.

[2018-05-25 11:35] onlyjsmith commented on #18
We released some initial work on this in the v1.2.0 version

[2018-05-25 11:36] onlyjsmith commented on #42
Released in v1.2.0

[2018-05-25 11:38] onlyjsmith commented on #38
@sbabur think this one is closed, waiting instead for #39 for a more comprehensive update of data. We’ll try to make sure our geodata validation is working by then, to make updating geodata a simpler process.

[2018-05-25 11:41] onlyjsmith commented on #43
@sbabur fine to close?

[2018-05-25 11:44] sbabur commented on #46
@onlyjsmith On version 1.2.2 hudiyipu-307

I've selected:
Season - March 2018
Plan - IRS 2017 Plan with 20 villages
Advanced - show responses outside plan area

I still don't see the record from May 17th. Is there something am I missing here, as you mentioned you see it in the db?

Also, with the 20-village plan loaded, I still see ALL villages in the map. Related to Issue #42

![screencapture-nam

[2018-05-25 11:46] sbabur commented on #43
@onlyjsmith Yes, ok to close. Let's keep them in, we weren't facing any problems downloading/having them.

[2018-05-25 11:47] sbabur commented on #38
@onlyjsmith Yes, ok to close

[2018-05-25 11:48] #43 closed

[2018-05-25 11:52] #38 closed

[2018-05-25 11:55] onlyjsmith commented on #46
Thanks - will re-investigate.

[2018-05-25 12:40] onlyjsmith commented on #46
Right. I was finally able to reproduce! If you visit reset on  `/reset.html` , then it should go away. Could you confirm on one of the instances? In the meantime, we’re implementing a fix.

The good news is that it _should_ only affect someone testing a bunch of different intances - basically it remembered the last response you retrieved from the network and tells the server “give me everything af

[2018-05-25 14:16] onlyjsmith commented on #46
Fixed on v1.2.3, deployed to production. Confirm I can see the 1 record on `hudiyipu-307` instance.

[2018-05-25 14:55] sbabur commented on #46
@onlyjsmith Great, its working for me!

[2018-05-25 14:58] sbabur commented on #46
@onlyjsmith Can close this and #42

[2018-05-27 07:48] #46 closed

[2018-05-27 07:48] #42 closed

[2018-05-29 13:53] sbabur commented on #14
@onlyjsmith Checking in on reason this is Blocked

[2018-05-29 13:54] sbabur commented on #50
@onlyjsmith Validated, can close

[2018-05-29 14:01] sbabur commented on #48
@onlyjsmith Done a bit of testing, can close and will keep an eye out in case it comes up again

[2018-05-29 14:17] onlyjsmith commented on #14
It’s on the ‘waiting’ side of ‘Waiting/blocked’ ;-) It’s just waiting for a timeslot to open up for us to work on it. We’re working at the moment on making it easier to check if configurations are valid when we save them, paving the way for user-driven configuration. We’ll aim to get to this following that.

[2018-05-29 14:38] onlyjsmith opened #51 "[monitor] hotfix: missing error message if responses request fails"
At the moment, if the network request for Responses fails, there's no notification to user, and the buttons to retrying are disabled.

We've written and tested the hotfix, aiming to deploy tomorrow, and will notify you.

cc @sbabur

[2018-05-29 15:05] sbabur opened #52 "Missing 'Add to Homescreen' option on mobile"
@onlyjsmith Did some research online to see if I was missing some setting, but it appears to be present for other websites - is this something you need to enable? The 'Open DiSARM' option does allow you to view in full screen as a 'Chrome app' but we are missing the shortcut we want to add on user's homescreen

![screenshot_2018-05-29-15-51-59](https://user-images.githubusercontent.com/37877007/40

[2018-05-29 15:09] sbabur opened #53 "Plan module - unable to select villages on mobile device"
Plan works on desktop, but when testing on mobile, both myself (Samsung Tab E) and Katelyn (Motorola Droid Turbo2) found that tapping on villages elicited no response while in Edit mode

I could use the polygon tool, Katelyn reported not being able to (but I can have her check again)

[2018-05-29 15:15] sbabur commented on #20
@onlyjsmith Validated - can close

[2018-05-29 15:17] sbabur commented on #15
@onlyjsmith ok to close

[2018-05-29 15:24] sbabur opened #54 "Monitor - selected plan is not displaying in map, stuck on 1 plan"
@onlyjsmith Tested in Namibia, production (no test Instance ID)

Was trying to test reviewing old season/plan data

![image](https://user-images.githubusercontent.com/37877007/40668532-0dc649b2-6365-11e8-9296-a2e4374f65a3.png)

[2018-05-29 15:48] sbabur commented on #14
@onlyjsmith ok great - loading the data is always going to be a challenge for users trying to consult the dashboard. I'll be testing performance with fake data tomorrow.

Other questions on how the system loads data:
1. Will the system accept the batches of records loaded, even if its not everything (say it got to 10,000 out of 50,000) and pnly download the remaining non-loaded ones upon hitting R

[2018-05-29 15:51] sbabur commented on #49
@onlyjsmith Validated in v1.2.3 - can close

[2018-05-29 15:51] sbabur commented on #29
@onlyjsmith can close

[2018-05-29 15:52] sbabur commented on #41
@onlyjsmith Thanks - can we move this to 'Waiting or Blocked'? so it stays on our to-do list?

[2018-05-29 15:53] sbabur commented on #33
@onlyjsmith - no problems encountered/reported on this - can close

[2018-05-29 15:55] sbabur commented on #34
@onlyjsmith I think all is well on this now - has the updated/clearer notification been released to production?

[2018-05-30 07:14] TNgidi commented on #34
Yes, it is already released. Happy to close?

[2018-05-30 07:14] #15 closed

[2018-05-30 07:14] #20 closed

[2018-05-30 07:17] #29 closed

[2018-05-30 07:18] #49 closed

[2018-05-30 07:21] TNgidi commented on #41
Moved

[2018-05-30 07:22] TNgidi commented on #52
Thanks, investigating.

[2018-05-30 07:23] onlyjsmith commented on #53
This is known behaviour - we've not been expecting users to _do_ the planning on a mobile device, just to view the plan. We will investigate what's needed to activate touch behaviour on Plan, and will implement if it's quick.

[2018-05-30 07:24] TNgidi commented on #54
Thanks we will investigate on this

[2018-05-30 07:39] onlyjsmith commented on #14
1. We collect small batches of records from the server. It will display whatever it manages to get, and tell the user if the network request failed.
2. That’s correct. When you ‘Retrieve’ or ‘Re-retrieve’, it gets them in date-order from the server, and stores the ID of the last successfully-retrieved record. The difference is that ‘Retrieve’ uses that last_id, and says “give me everything after t

[2018-05-30 07:48] onlyjsmith commented on #47
@sbabur Already released - happy to close?

[2018-05-30 07:52] #33 closed

[2018-05-30 09:04] sbabur commented on #34
@TNgidi Tested and this is working, can close, thank you

[2018-05-30 09:10] sbabur commented on #47
@onlyjsmith Yes, can close.

[2018-05-30 09:16] sbabur commented on #53
@onlyjsmith Thanks for clarifying, must have forgotten about this. I say we note this for longterm development, but let's not prioritize this for the 2018 irs season production version of the tool.  We can do the Botswana planning on laptops, and Namibia planning is already done. Programs will be field testing in a couple weeks and we can save ourselves the risk of pesky regression defects.

Can c

[2018-05-30 09:32] sbabur commented on #54
@TNgidi @onlyjsmith May be a related issue, but if you leave the dashboard and come back, the system remebers your Season selection but not your Plan selection

[2018-05-30 09:34] sbabur commented on #40
@onlyjsmith @TNgidi Working correctly - can close

[2018-05-30 10:22] sbabur commented on #41
Note to self: Xaixai needs to be in Okavango, not Ngami

[2018-05-30 10:47] #47 closed

[2018-05-30 10:47] #34 closed

[2018-05-30 10:58] onlyjsmith commented on #53
Happy for you to note for longer-term dev. We’ve noted as an issue on our internal backlog, but won’t prioritise

[2018-05-30 10:58] #53 closed

[2018-05-30 12:25] onlyjsmith commented on #52
@sbabur I think DiSARM is already installed. See the menu says “Open in DiSARM”. I can reproduce this by having DiSARM already installed.

[2018-05-30 12:27] TNgidi commented on #40
Closing now,
thanks

[2018-05-30 12:27] #40 closed

[2018-05-30 12:46] onlyjsmith commented on #51
@sbabur have merged and deployed as hotfix, currently on v1.2.5

[2018-05-30 12:46] onlyjsmith commented on #54
@sbabur have merged and deployed as hotfix, currently on v1.2.5

[2018-05-30 15:02] sbabur commented on #52
@onlyjsmith @TNgidi Thanks - you were right. I thought I had removed the app from my homescreen but I apparently had 2. I used to be able to add multiple but can no longer - is this a new chrome thing? Would have been nice to have TEST and PROD versions. Can close.

[2018-05-31 09:45] sbabur commented on #30
@onlyjsmith Can close

[2018-05-31 09:46] #30 closed

[2018-05-31 10:34] sbabur opened #55 "Issue with type-to-filter functionality"
Two examples, both in V1.2.5

Bwa - live version
Nam - wixocaye-904

https://www.useloom.com/share/644767cfb1c246f4bb7ce3f14f313e7e

https://www.useloom.com/share/74e229e155394af081a426cfb56ab87e

[2018-05-31 11:11] sbabur opened #56 "Make Q11 (bed nets) in Namibia form numeric"
Minor form field item - this field is alphanumeric, not numeric. Mostly an issue as it impacts the type of keyboard that appears on mobile

[2018-05-31 12:09] onlyjsmith opened #57 "update NAM geodata"
Some new villages need to be added

[2018-05-31 12:09] onlyjsmith opened #58 "cleanup Namibia plan"
Combine smaller plans

[2018-05-31 12:15] #52 closed

[2018-05-31 12:16] onlyjsmith commented on #54
@sbabur confirmed we can close

[2018-05-31 12:16] #54 closed

[2018-05-31 13:05] TNgidi commented on #55
Thank you for reporting this bug, we are fixing it.

[2018-05-31 13:10] TNgidi commented on #56
We were able to reproduce this and we are working on a fix.

[2018-05-31 13:36] onlyjsmith commented on #55
@sbabur There’s a fix on a special feature-testing branch here: https://deploy-preview-353--douma-app.netlify.com/#instance=nam

With these ones, you can try a different country by change the `nam` at the end to `bwa`, etc.

Please take a look, and let us know if it’s better. @TNgidi is also testing for us. We can then include as a small hotfix today/tomorrow.

[2018-06-01 08:34] sbabur opened #59 "Add warning if Custom Location checkbox is selected"
We ran into issues last year where users were needlessly using the Location checkbox and typing the village instead of selecting it from the dropdown, which caused a lot of confusion on the dashboard.

We are going to hit this point hard in the trainings, but we were also thinking it would be good to add a single confirmation mechanism where the user has to click ok in order to proceed with text:

[2018-06-01 08:37] sbabur opened #60 "Change warning language on Advanced checkbox"
Can we change

"The checkbox above means you are showing responses outside the plan. This will display responses on the map, but note that aggregations are calculated from the plan so they may be incorrect or missing. Uncheck to limit responses to the plan."

to

"The checkbox above means you are showing responses outside the plan. This will display responses on the map and include them in aggrega

[2018-06-01 08:40] onlyjsmith commented on #59
Ok - we’ll have a think about the options as well.

[2018-06-04 07:09] sbabur opened #61 "Botswana Dashboard - Refusal reasons pie chart - missing Materials + Other reason"
@onlyjsmith

Two categories are missing from the pie chart:

![image](https://user-images.githubusercontent.com/37877007/40903164-c8791634-67d6-11e8-81b9-c052d9c50044.png)

![image](https://user-images.githubusercontent.com/37877007/40903236-09e0d044-67d7-11e8-90c2-a6f60d850584.png)

[2018-06-04 07:29] sbabur commented on #55
@onlyjsmith @TNgidi - This is working well, let's go ahead and use this fix. Also, with the botswana meetings being pushed, you can hold off and wrap this update in with others instead of a hotfix if that is more convenient for you

[2018-06-04 07:49] TNgidi commented on #61
We are investigating on this

[2018-06-04 08:23] TNgidi commented on #61
We are not able to reproduce this, can I ask for your instance ID to try in on the number of records and plans you had?

[2018-06-04 08:25] sbabur commented on #61
I tested this on Instance ID bikipusa-912, it could be because of the fake records, but even then the other categories appear at 0% so you would expect those 2 would as well.

[2018-06-04 08:28] TNgidi commented on #61
Thanks, let me check on my side

[2018-06-04 08:56] TNgidi commented on #61
Just to confirm I can reproduce the error now

[2018-06-06 07:02] TNgidi commented on #61
@sbabur This was an issue with configuration not in the code and we are currently working on configuring it well for you. Sorry for the delay.

[2018-06-07 12:22] onlyjsmith opened #62 "[monitor] What does 'guess locations' do?"
From @sbabur:

[2018-06-07 14:15] TNgidi commented on #55
Great, we have deployed to staging, this will go in the next production release (we’ll let you know plan for this before we release).

[2018-06-07 14:17] TNgidi commented on #56
This has been fixed on the staging version and it works on my side. If you are happy we will copy to production.

[2018-06-07 14:19] TNgidi commented on #61
We have fixed this on the staging version and will copy to production if you are happy.

[2018-06-07 14:27] onlyjsmith commented on #62
@sbabur, yes, that's the intention. We implemented it for some edge cases last year, but I think it's not still functioning... So I'd propose removing the checkbox at this point. If we find the need to match points with locations again, we can handle that separately again.

This relates to #59 - i.e. see if we can make it easier for users to select the correct location.

[2018-06-07 14:39] TNgidi commented on #60
We have changed the text on the staging versions and it will be included on the next production release.

[2018-06-13 08:50] sbabur commented on #62
@onlyjsmith Noted, thanks for the clarification. Fine with keeping the checkbox unless we happen to have other updates being made to production. Getting close to field testing :)

[2018-06-13 08:57] sbabur commented on #56
@onlyjsmith @TNgidi Looks good - can deploy in next release

[2018-06-13 08:57] #56 closed

[2018-06-13 09:10] sbabur commented on #62
@onlyjsmith We still DO want to keep the 'Show Responses Outside of Plan' checkbox though - want access to all the raw data via csv.

[2018-06-13 09:11] sbabur commented on #61
@TNgidi @onlyjsmith Pie chart looks good, can close. Noticed that 'Other' category is missing in the summary table however. Will add a separate card for that.

[2018-06-13 09:16] sbabur opened #63 "'Other' refusal category missing from summary table - bwa"
Relates to Issue 61

[2018-06-13 10:23] TNgidi commented on #63
I was able to reproduce this error and we are investigating further.

[2018-06-19 14:44] onlyjsmith commented on #56
Copied to production, and confirmed working on production

[2018-06-19 14:56] onlyjsmith commented on #60
(correcting comment posted to wrong issue!)

Deployed on v1.2.10 on prod + staging.

[2018-06-19 15:07] onlyjsmith commented on #63
Fixed. Deployed to prod + staging

[2018-06-19 15:07] onlyjsmith commented on #61
Fixed. Deployed to prod + staging

[2018-06-19 15:10] onlyjsmith commented on #59
@sbabur We've got two options, neither included in the 1.2.9 version - but either could be included tomorrow (Weds June 20) morning, to still give us time to test. I prefer the suggestion one, but the other is definitely simpler (and more annoying and less useful ;-) )

pop-up message when checkbox is clicked: https://deploy-preview-374--douma-app.netlify.com/#instance=nam

shows suggestions when

[2018-06-19 15:12] onlyjsmith commented on #55
This is merged into v1.2.10, currently deployed on production (and also staging)

[2018-06-19 17:12] sbabur commented on #59
@onlyjsmith Thanks for letting me test out both options. Option 2 is really cool and I think immensely helpful! Could we go with that one and deploy it tomorrow?

Would it be possible to still add a text note below **IF** a custom selection is ultimately chosen though? Let me know if this is something that can be done quickly enough in time to release by tomorrow or not.

"Note: data with this cus

[2018-06-20 07:50] sbabur commented on #63
Validated - can close

[2018-06-20 07:51] sbabur commented on #61
Validated - can close

[2018-06-20 07:51] sbabur commented on #55
Validated - can close

[2018-06-20 07:51] sbabur commented on #51
Validated - can close

[2018-06-20 07:51] sbabur commented on #45
Validated - can close

[2018-06-20 07:51] sbabur commented on #31
Validated - can close

[2018-06-20 08:00] sbabur opened #64 "Coverage line graph reflects 0 when spatial filter used"
@onlyjsmith @TNgidi

Production, bwa instance quluguze-799

I tried using the following filter combinations:
1) Chobe
2) Chobe + Parakurungu

In both cases, dashboard correctly filters for all areas except for the coverage line graph. This reflects 0. We want to show coverage for the filtered area, so the numerator in scenario 1 would be all rooms sprayed in Chobe/all rooms belonging to Chobe in t

[2018-06-20 08:02] sbabur commented on #64
@onlyjsmith I would prioritize this fix before field testing in Botswana next week - I know this will be a big issue for them

[2018-06-20 08:06] #51 closed

[2018-06-20 08:06] #45 closed

[2018-06-20 08:06] #31 closed

[2018-06-20 08:07] #63 closed

[2018-06-20 08:07] #61 closed

[2018-06-20 08:08] #55 closed

[2018-06-20 08:12] sbabur opened #65 "Namibia bar chart does not respond to filter"
@onlyjsmith @TNgidi Districts will want to be able to monitor their own rooms sprayed vs. not sprayed over time counts, they don't care about national.

If you need to prioritize: The Botswana issue (#64) is much higher priority given timelines. Namibia will not be field testing until mid-July, so fix by end of June is fine

[2018-06-20 08:13] sbabur commented on #65
Nam production, v1.2.10, instance ID wixocaye-904

![screencapture-nam-app-disarm-io-irs-monitor-2018-06-20-10_08_07](https://user-images.githubusercontent.com/37877007/41645841-75e01956-7472-11e8-8adb-05a53497c118.png)

[2018-06-20 08:27] TNgidi commented on #64
I was able to reproduce this too, we are investigating further

[2018-06-20 14:02] onlyjsmith commented on #59
@sbabur very glad you like 2 - we do too! Unfortunately we uncovered a couple UI issues in our testing, that we think mean it would be more confusing to include it at this point.

So, suggest we stick with the simpler pop-up version for now, and see if we can find time to work on the little UI issues.

[2018-06-20 14:29] sbabur commented on #59
@onlyjsmith Can you describe what the UI issues were? I failed to find any, I thought it was super smooth on both desktop and mobile but good to know.

Fine with using the pop-up. Would be a huuuge nice to have if you manage to address the UI issues though.

[2018-06-20 14:48] onlyjsmith commented on #59
There’s a gap in the user flow, where it’s not necessarily obvious you need to click on the orange box to select it when it’s a real custom entry. It means we might actually make it harder to create a valid form when adding a custom text entry. Since the custom text entry is already off the main flow we want a user to follow (i.e. for some reason they can’t find what they think they should find in

[2018-06-20 15:07] sbabur commented on #59
Yeah, the point about this being a better location selection overall occurred to me as well.

To your first point about valid form, I think this relates to a separate issue we've worked around which is that the error validations only prevent you from proceeding AFTER page 1. Ideally, a blank GPS coordinate or Location selection would grey out the Next button like the other pages.

Fine to table. I

[2018-06-20 16:07] sbabur commented on #59
@onlyjsmith I talked to Katelyn about this because she has a lot more experience in Namibia on admin units. My sense was that users in Namibia sometimes ONLY know the village so the cascading dropdown was difficult for them, whereas in Botswana it makes a lot more sense because they know their districts really well and don't want to bother looking at villages from elsewhere.

Katelyn - "I really l

[2018-06-20 21:06] sbabur opened #66 "Seasons changes not persisting + getting error"
Seasons changes not persisting while logged in as sameen.babur on test instance KASANE-TEST

Also getting a timeout error

https://www.useloom.com/share/1315f92f59d14ec592010420d41b98ea

[2018-06-21 04:33] onlyjsmith commented on #66
Thanks, noted - we’ll take a look today.

[2018-06-21 09:24] TNgidi commented on #64
This has been fixed on version 1.2.12

[2018-06-21 09:27] TNgidi commented on #65
This has been fixed in version 1.2.12

[2018-06-21 14:27] TNgidi commented on #66
@sbabur We have figured what the problem is and we are working on a fix for it. In the meantime if you have any changes you would like to implement on the seasons please lets know and we can implement them on our side for you.

[2018-06-21 14:36] sbabur commented on #66
@TNgidi Great, thanks! No other changes for now

[2018-06-25 10:32] sbabur commented on #66
@TNgidi @onlyjsmith Flagging this issue for field testing on Thursday. Let me know if this fix is feasible by EOD Tuesday latest, otherwise we will work around this during the group test activities.

[2018-06-26 08:02] sbabur opened #67 "District filter not working"
Bwa production
Season: May 17 2017
Plan: Unnamed, 29 Areas (true 2017 IRS production plan from last year)

![image](https://user-images.githubusercontent.com/37877007/41895356-1df56318-7922-11e8-884c-14d0a6c5526e.png)

![image](https://user-images.githubusercontent.com/37877007/41897534-e48e7366-7927-11e8-964d-ffc31d166ba8.png)

![image](https://user-images.githubusercontent.com/37877007/41897546-

[2018-06-26 08:06] sbabur opened #68 "Coverage calculations from last year prod not correct, but fine on test instance and new data"
@onlyjsmith @TNgidi

Bwa Prod, season May 17, 2017, plan Unnamed
Looking at number of rooms sprayed/number of rooms....%'s are not right for coverage

![image](https://user-images.githubusercontent.com/37877007/41897641-25009a6e-7928-11e8-9e4c-b9bab14de72e.png)

Looking at test instance bikipusa-912 however, things are adding up
![image](https://user-images.githubusercontent.com/37877007/41897777-

[2018-06-26 08:10] sbabur commented on #67
I wonder if this is a case sensitivity issue, but it is weird because it was working on Friday on this same version!

[2018-06-26 08:11] sbabur commented on #67
From the Training Guide, took this screenshot on Friday:

![image](https://user-images.githubusercontent.com/37877007/41898076-4ff61248-7929-11e8-9d7c-dd94553b148a.png)

[2018-06-26 08:41] sbabur commented on #68
@onlyjsmith @TNgidi Does this have anything to do with the updated shapefile? If so, it would indeed make sense to keep the coverage %'s according to the old target denominators (i.e. what the targets were in the original plan with the original geodata)

[2018-06-29 08:29] onlyjsmith opened #69 "finalise custom location selection"
1. Keep the 2 (area and subarea) dropdowns
2. Have Confirmation popup for custom location checkbox
3. Autocomplete the custom text box.

[2018-06-29 08:33] onlyjsmith opened #70 "change Record list filtering"
1. Set in config a field from form
2. Change list record to include that field in-place of current `id` field.
2. Change list filter to use field

[2018-07-02 09:44] TNgidi opened #71 "[form] BWA Add Q textfield for cattle posts"

[2018-07-02 09:46] TNgidi opened #72 "Update refusal reasons to "reason for not spraying" on pie chart"

[2018-07-02 09:50] onlyjsmith commented on #72
@sbabur This is changed on production and staging version

[2018-07-02 09:58] onlyjsmith commented on #71
@sbabur Can you give us the exact wording they want for this question, where it should appear on the form, whether it is required or optional, and whether there are any pre-conditions required for it to show.

Our suggestion, based on discussion we heard last week:
- "Record name of cattle post"
- text type
- on same page as "household head name", and underneath it
- not required
- no pre-conditio

[2018-07-02 10:01] sbabur commented on #71
Hi Jonathan,

With 1 modification below, This seems find to me based on what we heard during the discussions, but forwarding to Erica for final confirmation during the Francistown meetings and not 100% sure yet if we are supposed to add it

  *   "Record cattle post or other place name"
  *   text type
  *   on same page as "household head name", and underneath it
  *   not required
  *   no pre-c

[2018-07-02 10:04] onlyjsmith commented on #67
Linked to #66. We’re finalising the fix for both today.

[2018-07-02 10:05] onlyjsmith commented on #66
Linked to #67.

[2018-07-02 12:13] onlyjsmith commented on #71
@sbabur Thanks - we'll wait until we hear confirmation from you before proceeding.

[2018-07-03 08:06] sbabur commented on #72
@onlyjsmith @TNgidi Validated, can close

[2018-07-03 08:16] sbabur opened #73 "Plan does not get saved when deselecting a village"
@onlyjsmith @TNgidi

I believe this issue had popped up before, but I can't seem to remove villages from a plan

Bwa PROD, v 1.2.12, instance ID KASANE-TEST

Able to replicate in incognito mode

https://www.useloom.com/share/04cc4ef1527443b38685bb07ce9fa2ad

[2018-07-03 08:17] onlyjsmith commented on #73
Thanks @sbabur - we’ll take a look.

[2018-07-03 08:26] sbabur opened #74 "Add Actellic to bwa and nam forms"
@onlyjsmith @TNgidi

**Namibia**:
- Label: "How many structures were sprayed with Acetellic? (If 0, enter 0)"
- Input Type: Integer
- Mandatory: Yes
- Data validation: Remove all validations on this page and add a simple warning check to see if Delta + DDT + Actellic is <= to the total number of sprayable rooms

![image](https://user-images.githubusercontent.com/37877007/42207505-60174332-7eaa-11e

[2018-07-03 08:34] sbabur opened #75 "Update bwa/nam dashboards to include Actellic in aggregations"
@onlyjsmith @TNgidi

**Namibia**
Number sprayed by Actellic should be counted in following areas and behave the same way the DDT/Delta fields behave

![image](https://user-images.githubusercontent.com/37877007/42208318-328a3b84-7eac-11e8-9ae5-6aee0f83736e.png)

![image](https://user-images.githubusercontent.com/37877007/42208337-4479fa50-7eac-11e8-84f7-454a522ad509.png)

**Botswana:
Number sprayed

[2018-07-03 09:09] onlyjsmith commented on #73
@sbabur confirm we can reproduce

[2018-07-04 13:00] onlyjsmith commented on #69
@sbabur We've implemented 1 & 2 above, but I don't 3 is the right thing to do.

It starts to get too complex from a UX perspective - you can get 4-5 clicks/steps into one process without having finished entering the info.

If a user can't find the location in the dropdowns, but they've found the checkbox, _and_ clicked the confirmation, then let's allow them to enter they text they want. They're a

[2018-07-04 13:14] sbabur commented on #69
@onlyjsmith I would rather we do 1 and 3.

This is really important for Namibia - users simply do not always know what the right answer for dropdown 1 is, even if they know what they want to enter for dropdown 2.  We will end up with a lot of in-plan responses with typed-in locations that make the dashboard a lot less useful.

We will train the way we need to, but please implement 1 and 3.  Cannot

[2018-07-04 14:42] onlyjsmith commented on #69
Ok, let's talk through on the call tomorrow. We'll be able to find the right solution! We definitely want to avoid typed-in answers.

We've worked on solutions for all the parts, it's just the combination of them that is proving tricky. To keep it simple to use and maintain, I'd like to stick to one page of drop-downs, with as little magic or logic as possible. And we'll need to find one approach

[2018-07-05 09:07] sbabur opened #76 "Namibia Sub-Area dropdown does not get restricted to selected constituency"
@onlyjsmith @TNgidi

Namibia, v 1.2.13, instance ID NAMIBIA-TEST (set up for field testing activities)

Steps:
Select Area
Open Sub-Area dropdown and options are not restricted to selected Area
Selecting a Sub-Area from a different Area auto-correct the Area selection, but only on the first instance

Desired functionality:
Restrict options in Sub-Area to selected Area

https://www.useloom.com/shar

[2018-07-05 09:13] sbabur commented on #67
@onlyjsmith @TNgidi validated, can close

[2018-07-05 09:14] sbabur commented on #68
@onlyjsmith @TNgidi Validated, can close

[2018-07-05 09:15] sbabur commented on #70
@onlyjsmith @TNgidi Validates, can close.

I suspect Namibia will want to filter either on Head of Household Name or Household Health Number, will scope of feedback when I am there week of 16th

[2018-07-05 09:21] TNgidi commented on #76
@sbabur I was able to reproduce this error on my side

[2018-07-05 10:02] TNgidi commented on #76
@sbabur Jonathan picked this up yesterday too and we have a fix for it.

[2018-07-05 13:21] onlyjsmith commented on #69
@sbabur We've got an updated version currently deployed to staging, which looks like it can handle 1 + 2 + 3. Take a look if you have a chance before the call, and we can discuss later.

[2018-07-05 14:46] onlyjsmith commented on #70
Great - let us know and we can update the configuration to make it work. The requirements are that it needs to be a text field from the form.

[2018-07-05 14:47] #68 closed

[2018-07-05 14:55] TNgidi opened #77 "BWA duplicate villages in 2017 Plan"
We discovered a bug today on the Botswana instance which was caused by the erratic geodata from last year. If you recall we had villages with duplicate IDs, which made some calculations wrong. Today we discovered that on the dashboard the village NATA had the right calculations of percentage coverage even though it was showing 0 rooms found while also showing 1522 rooms sprayed and a coverage perc

[2018-07-05 14:57] sbabur commented on #77
@TNgidi Let's address this when Katelyn and Dominic come back to us with the new shapefile, which will not have duplicate ID's. That should revert things to 29 with proper unique IDs

[2018-07-05 14:59] sbabur commented on #77
@TNgidi But can you send me a copy of the 29-village plan? We will sense-check

[2018-07-05 15:16] #70 closed

[2018-07-05 15:20] #59 closed

[2018-07-05 15:36] #65 closed

[2018-07-05 15:36] #64 closed

[2018-07-05 15:37] #60 closed

[2018-07-05 15:37] #18 closed

[2018-07-05 15:37] #21 closed

[2018-07-05 15:38] onlyjsmith commented on #76
Fixed by current dropdown setup.

[2018-07-05 15:49] onlyjsmith commented on #77
The downloaded geojson for the 2 versions of the Plan are identical. I downloaded the versions for the 27 and 29 villages and checked - there's no difference. I'm attaching a copy of the 29, but you'll see it contains only 27 villages - we've no way to tell them apart when we prepare the plan download.

[bwa_plan.zip](https://github.com/disarm-platform/user-requests-and-feedback/files/2167260/bwa_

[2018-07-05 15:52] onlyjsmith commented on #69
@sbabur we’re waiting for confirmation from Katelyn/Erica that this approach works before we release onto master - is that correct?

[2018-07-05 15:53] onlyjsmith commented on #76
@sbabur Fix is currently only on staging (see #69), but will be released to master once we get confirmation. Can close this one, to leave #69?

[2018-07-05 15:53] onlyjsmith commented on #66
@sbabur ok to close?

[2018-07-05 15:59] onlyjsmith commented on #77
And @sbabur I’ve updated the 2017 plan from ‘Unnamed’ to ‘2017 IRS Plan’. (DB edits like this are usually only possible if we’re already in the middle of any other fixes!)

[2018-07-06 06:47] sbabur commented on #69
@onlyjsmith Correct - will confirm ASAP

[2018-07-06 06:48] sbabur commented on #76
@onlyjsmith Works for me, can close

[2018-07-06 07:43] sbabur commented on #69
@onlyjsmith Confirmed - let's go with the current approach that is in staging.

Quick note to correct the constituency spelling mistake in Namibia

![image](https://user-images.githubusercontent.com/37877007/42366248-fcf2591e-8100-11e8-8706-540508ce0215.png)

Let's package this update with the other items you are working on rather than having multiple releases, however. Can wait until early/mid ne

[2018-07-06 07:47] sbabur commented on #70
@onlyjsmith Quick question on the current config set up for this - does Namibia need to pick only one field to filter on, or is it possible to have multiple provided they are text fields?

Does text == alphanumeric?

The 2 fields Namibia would be interested in filtering for are below, both alphanumeric. It would be nice to give users both options, but let me know if we need to pick one. No point t

[2018-07-06 07:50] onlyjsmith commented on #70
Currently we can only handle a single field. Changing to handle multiple has a few implications that mean it’s not just a simple switch/fix.

Alphanumeric or text input are both fine, so either the examples you give would work.

[2018-07-06 09:02] TNgidi opened #78 "BWA Forms do not have validators for negative numbers on number of rooms sprayed"
@sbabur While adding the textfield for Actellic we have discovered that the number fields do not check if the numbers are negative. DiSARM checks to ensure that they add up to the number of rooms sprayed. As shown in the screen bellow, in a homestead with 10 rooms this would pass because 15 + (-5) is 10.
We can change to ensure it does not allow numbers less than 0. but we will not do anything wit

[2018-07-06 09:15] sbabur commented on #78
@TNgidi Thanks! It would be great if you fixed this (all numeric values should be <= 0

We noticed this before but did not prioritize fixing it since its harder to do negative values on tablets, but agree that it is best to fix

[2018-07-06 17:07] #76 closed

[2018-07-09 08:08] sbabur commented on #66
@onlyjsmith Validated, ok to close

[2018-07-09 08:11] #66 closed

[2018-07-09 08:12] TNgidi commented on #75
We have done this and it is live on both staging and production versions.

[2018-07-09 08:12] TNgidi commented on #74
This is done and it is live on both staging and production versions.

[2018-07-09 08:12] TNgidi commented on #78
The validations have been configured and they are ready for review on staging and production.

[2018-07-09 08:16] TNgidi commented on #78
@sbabur please validate

[2018-07-09 08:16] TNgidi commented on #74
@sbabur please validate

[2018-07-09 08:16] TNgidi commented on #75
@sbabur please validate

[2018-07-09 09:39] sbabur commented on #78
@TNgidi A couple more gaps:

![image](https://user-images.githubusercontent.com/37877007/42443009-96770090-836c-11e8-9bac-80c54d3e7a5e.png)

[2018-07-09 09:42] sbabur commented on #78
![image](https://user-images.githubusercontent.com/37877007/42443218-2ef4da7c-836d-11e8-8a19-92386ef35da3.png)

[2018-07-09 09:45] sbabur commented on #74
@TNgidi Can you fix the below cosmetic issue (i vs. I, and unnecessary space) and simplify the data validation rules?

Let's just have 1 data validation rule to check that DDT +Ddelta + Actellic = total number of rooms sprayed and remove the individual insecticide ones

![image](https://user-images.githubusercontent.com/37877007/42443445-c27ddbb8-836d-11e8-8746-408fd6adc169.png)

![image](https://

[2018-07-09 09:59] sbabur commented on #75
@TNgidi Validated on production! Can close

[2018-07-09 12:19] #75 closed

[2018-07-10 14:00] sbabur opened #79 "Clean up Namibia room spray validation rules + fix text formatting"
1) Make I vs. i consistent, remove space between ( and I
2) Update below data validation text to say: "Number of rooms sprayed with DDT + Deltamethrin + Actellic must be <= total number of rooms sprayed"

![image](https://user-images.githubusercontent.com/37877007/42514609-196f2656-845a-11e8-902a-d27f4f08cead.png)

![image](https://user-images.githubusercontent.com/37877007/42514525-eb7d0a9c-8459-

[2018-07-11 07:28] TNgidi opened #80 "Add validators for negative numbers on number of rooms sprayed and number of people on BWA"

[2018-07-11 07:29] TNgidi commented on #78
#80

[2018-07-11 07:31] TNgidi commented on #78
Opened issue #80 for the additional fields to be validated.

[2018-07-11 07:47] onlyjsmith commented on #73
@sbabur Apologies for lack of updates here - this is fixed and released as part of v1.3.0. Can you validate in production?

[2018-07-11 07:48] onlyjsmith opened #81 "add WhatsApp support numbers to config for BWA and NAM"

[2018-07-11 07:50] onlyjsmith commented on #81
@sbabur can you confirm we should add the WhatsApp support number to the NAM and BWA instances?

[2018-07-11 08:00] sbabur commented on #73
@onlyjsmith I am still seeing this issue in production, both after clearing my history and in incognito mode

https://www.useloom.com/share/16523cf1ebc445e7a66ab8e294d46cdc

From: Jonathan Smith [mailto:notifications@github.com]
Sent: Wednesday, July 11, 2018 9:48 AM
To: disarm-platform/user-requests-and-feedback
Cc: Sameen Babur; Mention
Subject: Re: [disarm-platform/user-requests-and-feedback] P

[2018-07-11 08:04] sbabur commented on #81
Tested it on Staging and its neat. Let me confirm with Ayo and Dennis.

Sameen

From: Jonathan Smith [mailto:notifications@github.com]
Sent: Wednesday, July 11, 2018 9:51 AM
To: disarm-platform/user-requests-and-feedback
Cc: Sameen Babur; Mention
Subject: Re: [disarm-platform/user-requests-and-feedback] add WhatsApp support numbers to config for BWA and NAM (#81)

@sbabur<https://github.com/sbabur

[2018-07-11 08:10] onlyjsmith commented on #81
Did you try sending us a message? Did you get a reply? ;-)

[2018-07-11 08:11] onlyjsmith commented on #73
@sbabur Thanks - will investigate right now. We can repro on production.

[2018-07-11 08:17] TNgidi commented on #73
@sbabur please try testing it now

[2018-07-11 09:06] TNgidi commented on #69
@sbabur, please let us know if its ok to close this one

[2018-07-11 09:10] sbabur commented on #73
Ok, its working now.

From: Thokozani Ngidi [mailto:notifications@github.com]
Sent: Wednesday, July 11, 2018 10:17 AM
To: disarm-platform/user-requests-and-feedback
Cc: Sameen Babur; Mention
Subject: Re: [disarm-platform/user-requests-and-feedback] Plan does not get saved when deselecting a village (#73)

@sbabur<https://github.com/sbabur> please try testing it now

—
You are receiving this becaus

[2018-07-11 09:10] sbabur commented on #69
Validated, can close

From: Thokozani Ngidi [mailto:notifications@github.com]
Sent: Wednesday, July 11, 2018 11:06 AM
To: disarm-platform/user-requests-and-feedback
Cc: Sameen Babur; Mention
Subject: Re: [disarm-platform/user-requests-and-feedback] finalise custom location selection (#69)

@sbabur<https://github.com/sbabur>, please let us know if its ok to close this one

—
You are receiving this

[2018-07-11 09:10] onlyjsmith commented on #73
Thanks for confirming.

[2018-07-11 09:11] TNgidi commented on #73
In that case it is ok to close this?

[2018-07-11 09:12] #69 closed

[2018-07-11 09:14] TNgidi commented on #74
I think we can close this as initial issue is finished and there is a new issue for the last comment: issue #79

[2018-07-11 09:14] sbabur commented on #73
Yes, can close

From: Thokozani Ngidi [mailto:notifications@github.com]
Sent: Wednesday, July 11, 2018 11:12 AM
To: disarm-platform/user-requests-and-feedback
Cc: Sameen Babur; Mention
Subject: Re: [disarm-platform/user-requests-and-feedback] Plan does not get saved when deselecting a village (#73)

In that case it is ok to close this?

—
You are receiving this because you were mentioned.
Reply to

[2018-07-11 09:15] sbabur commented on #74
Yes, fine

From: Thokozani Ngidi [mailto:notifications@github.com]
Sent: Wednesday, July 11, 2018 11:15 AM
To: disarm-platform/user-requests-and-feedback
Cc: Sameen Babur; Mention
Subject: Re: [disarm-platform/user-requests-and-feedback] Add Actellic to bwa and nam forms (#74)

I think we can close this as initial issue is finished and there is a new issue for the last comment: issue #79<https://g

[2018-07-11 09:17] #73 closed

[2018-07-11 09:17] #74 closed

[2018-07-11 09:27] TNgidi commented on #78
Think we can close this too, it was concerning the rooms sprayed with different chemicals (questions 17 and 18 on form), while now we have issue #80 for questions on number of people and rooms sprayed comparing traditional and modern.

[2018-07-11 09:44] onlyjsmith commented on #78
@TNgidi sure

[2018-07-11 09:44] #78 closed

[2018-07-12 13:23] TNgidi opened #82 "NAM not opening stuck on loading screen"
Image from @sbabur
![image](https://user-images.githubusercontent.com/36029281/42635822-65b5687a-85e7-11e8-8c11-68eef0515d9c.png)

[2018-07-12 13:25] TNgidi commented on #82
Reset link is getting stuck here on this screen:
![image](https://user-images.githubusercontent.com/36029281/42635943-bde8f23c-85e7-11e8-9c91-75829019f9ca.png)

[2018-07-12 14:23] onlyjsmith commented on #79
@sbabur done on staging - please validate

[2018-07-12 14:23] onlyjsmith commented on #80
@sbabur done on staging - please validate

[2018-07-12 14:23] onlyjsmith commented on #81
@sbabur done on staging - please validate

[2018-07-12 14:24] onlyjsmith commented on #81
@sbabur and we’re waiting on feedback from field on this

[2018-07-12 15:37] TNgidi commented on #82
Network error solved by switching from Wi-Fi to mobile data
closing

[2018-07-12 15:37] #82 closed

[2018-07-13 07:07] sbabur commented on #80
@onlyjsmith Validated

[2018-07-13 07:14] sbabur commented on #79
@onlyjsmith Can you rephrase the warning to say:
"Total number sprayed (ddt + deltamethrin + actellic) should be less than or equal to the total number of sprayable rooms"

I got the field language wrong - it's # of sprayable rooms, not # sprayed that should be <= ddt+delta+actellic

![image](https://user-images.githubusercontent.com/37877007/42677673-bfa4b9a4-867c-11e8-8fc5-74941ed88a08.png)

[2018-07-13 07:14] sbabur commented on #79
@onlyjsmith Other than the language - all good

[2018-07-13 14:05] onlyjsmith commented on #79
@sbabur Thanks. Think would be good to clarify. I'll post the exact validation config below, we can either go through it next week, or if you can figure out what it does, feel free to post an updated version!

[code]

[2018-07-13 14:11] onlyjsmith commented on #79
@sbabur maybe simpler is our validations tester as part of the Debug tools: https://nam.app-stage.disarm.io/debug/validations

It's a little fiddly, and won't let you edit them directly - you must click 'export validations' and send us the file if you make any changes.

But there's a tester built-in, and you can edit the expressions and then test them directly. Thoko or I can give you some more po

[2018-07-13 14:26] sbabur commented on #79
This should suffice for math checks:

[
	{
	  "name": "sprayed more than total structures",
	  "expression": "numbersprayed_ddt + numbersprayed_delta + numbersprayed_actellic <= number_sprayable",
	  "message": "Total number sprayed (ddt + deltamethrin + actellic)  should be less than or equal to the total number of sprayable rooms",
	  "type": "warning"
	}, {
	  "name": "population",
	  "expressi

[2018-07-16 13:20] sbabur opened #83 "Add visit #/mop-up question to Namibia Form"
Exact questions TBD - can put in blocked for now

[2018-07-16 13:23] sbabur opened #84 "Add data validation check to ensure household health numbers match on Namibia form"
Would like to add a data validation (ERROR) rule to check that below 2 fields match

![image](https://user-images.githubusercontent.com/37877007/42760878-298d02d6-890c-11e8-928f-a9555ea63fec.png)

[2018-07-16 13:25] sbabur opened #85 "Add form information to Namibia response points on dashboard map"
When user clicks on a response point they should be able to see the following information:

1. Date form was recorded
2. Village name
3. Head of household name
4. Household health number

[2018-07-18 08:23] TNgidi commented on #83
@sbabur What is the timeline for these three new cards: #83, #84, #85 ?
Any news on the exact wording of this one?

[2018-07-18 08:30] sbabur commented on #83
Can these be done next week? Field testing this week so best to leave the instance alone until Monday.

Also getting feedback on the exact wording today

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Thokozani Ngidi <notifications@github.com>
Date: 7/18/18 9:23 AM (GMT+01:00)
To: disarm-platform/user-requests-and-feedback <user-requests-and-feedback@nore

[2018-07-18 14:41] TNgidi commented on #83
@sbabur Yes, they can be done next week

[2018-07-19 14:41] TNgidi opened #86 "NAM form transformation"
[DiSARM Form Design_Iitula and Joyce.xlsx](https://github.com/disarm-platform/user-requests-and-feedback/files/2210373/DiSARM.Form.Design_Iitula.and.Joyce.xlsx)
[Namibia Form Flow.pptx](https://github.com/disarm-platform/user-requests-and-feedback/files/2210374/Namibia.Form.Flow.pptx)

[2018-07-19 15:41] sbabur commented on #83
@TNgidi Shall we close this card and track with #86 ?

[2018-07-19 15:47] sbabur opened #87 "Namibia dashboard summary table - separate % Refused and % Locked columns by first visit vs. mop-up"
Currently we have the following 2 columns on the far right of the dashboard:

% Refused (# structures unsprayed where Reason == Refused) and
% Locked (# structures sprayed where Reason == Locked)

We want to split this into:

% Refused First Visit (# structures unsprayed (first visit) where Reason == Refused)
% Refused Mop-up (# structures unsprayed (mop-up) where Reason == Refused)
% Locked First

[2018-07-19 15:57] sbabur opened #88 "Allow NULL value for GPS coordinates for instances where Timeout Error cannot be resolved"
In instances where users are not able to collect GPS points due to hardware issues, they should still be able to submit their form details. These would count in coverage calculations according to their location dropdown selection, but would naturally not appear on the map.

[2018-07-19 16:01] sbabur opened #89 "Nam dashboard - removed red 'unsprayed' bar from stacked bar chart on the dashboard"
Since we are not subtracting First visit unsprayed - Mop-up unsprayed this number will be inflated - we can just keep the cumulative green bar (# sprayed) and remove the red bar

[2018-07-19 16:09] sbabur commented on #88
I'll give this one some thought over the weekend - perhaps we will focus on training to address this. The same problem would appear with other tools we have used in the field but I think because of training have not seen this be an actual issue implementation-wise. Plus those tablets would have sim cards, so would not have as much trouble as these sim-less tablets we were using?

[2018-07-20 06:39] TNgidi commented on #83
@sbabur We generally make an epic whereby, in our case, #86 would be a composed of a number of other cards so that we are able to track all aspects of transforming the form. Lets see what @onlyjsmith thinks.

[2018-07-20 12:21] onlyjsmith commented on #88
Ok - thanks @sbabur. We’ve also started thinking through the implications. In principle I like the idea of making this configurable per-instance, but there are quite a few implications. Want to make sure we don’t interrupt the application too much. We’ll continue exploring our side, and can update next week.

[2018-07-24 10:30] sbabur commented on #57
@onlyjsmith Updated Namibia geodata is attached - let me know if the wizard is up and I can try testing the uploader there

[NAM_vlgs_targeted_2018 (1).zip](https://github.com/disarm-platform/user-requests-and-feedback/files/2223191/NAM_vlgs_targeted_2018.1.zip)

[2018-07-24 10:35] sbabur commented on #58
@onlyjsmith Removing blockers!

Can you please:
1. Delete all plans except for the oldest one highlighted below (with 2085 targets)
2. If straightforward, create a single '2018 IRS Plan' with all the villages in the attached geodata file (this is the same as the base geodata - we are just loading in geodata for targeted villages at the moment) - if not I will just have to manually select each cons

[2018-07-24 11:23] onlyjsmith commented on #57
Thanks @sbabur! The config editor (wizard) is not deployed publicly yet. So we’ll take a look at the file, and see if we can run it through the automated tests the editor is built on. Will report back inside this issue...

[2018-07-24 11:26] onlyjsmith commented on #58
@sbabur

1. Can delete the plans as described - will leave a single 2017 plan with 2085 targets.
2. For 2018 plan, are you saying to create a single plan using all the villages? (i.e. this is the same file as attached to #57 for updating the NAM geodata)

[2018-07-24 12:19] sbabur commented on #58
2 – yes that is correct

[2018-07-24 13:56] sbabur opened #90 "Namibia Record Filtering"
@onlyjsmith @TNgidi Namibia has opted to use Head of Household Name as the filterable search field on the Record home page - we can go ahead and make this change

[2018-07-24 14:07] TNgidi commented on #90
Thanks @sbabur, we will work on it.

[2018-07-26 08:58] onlyjsmith commented on #57
@sbabur there are some villages with duplicate names. This will may make it impossible to select in the dropdowns for Monitor and Record (if the villages with duplicate names are in the same constituency). Do you mind, or do you want to change the village names?

[2018-07-26 09:02] sbabur commented on #57
Ahhhh ok let me take a quick look and check with New Katelyn

From: Jonathan Smith [mailto:notifications@github.com]
Sent: Thursday, July 26, 2018 10:58 AM
To: disarm-platform/user-requests-and-feedback
Cc: Sameen Babur; Mention
Subject: Re: [disarm-platform/user-requests-and-feedback] update NAM geodata (#57)

@sbabur<https://github.com/sbabur> there are some villages with duplicate names. This w

[2018-07-26 10:46] sbabur commented on #71
@onlyjsmith @TNgidi Got the go-ahead, will just be adding this one field

Final specs:
  *   "Record cattle post or other place name (if applicable)"
  *   text type
  *   on same page as "household head name", and underneath it
  *   not required
  *   no pre-conditions, and no later questions depend on it

[2018-07-26 10:53] sbabur opened #91 "Move response points map layer to top"
@onlyjsmith @TNgidi

Hi friends - Hoping this is a quick one - right now the map layers appear over the response points - can we make it so the response points are on top? Noticed this in all staging/prod instance...not sure when this got flipped

![image](https://user-images.githubusercontent.com/37877007/43258355-cc522ba4-90d2-11e8-9d4b-7ab9f1a713c9.png)

[2018-07-26 11:28] sbabur commented on #87
@onlyjsmith @TNgidi Only the % Refused First Visit column is getting calculated:

![image](https://user-images.githubusercontent.com/37877007/43259288-e40a5282-90d5-11e8-8f15-814b96d44557.png)

[nam_responses_2018-07-26_1326_Olwoole.xlsx](https://github.com/disarm-platform/user-requests-and-feedback/files/2231712/nam_responses_2018-07-26_1326_Olwoole.xlsx)

[2018-07-26 11:34] onlyjsmith commented on #58
@sbabur Done on production.

[2018-07-26 11:51] onlyjsmith commented on #58
@sbabur Correction - almost done! Waiting for updated geodata. We have a skeleton for the new combined plan ready to go.

[2018-07-26 12:05] onlyjsmith opened #92 "change WhatsApp number to a group"
Not certain if this is possible.

[2018-07-26 12:23] onlyjsmith commented on #92
Links to #81

[2018-07-26 12:28] sbabur commented on #87
@TNgidi @Nicolaidavies Hope this helps:

**% refused first visit:** number_unsprayed, where reasons_for_not_spraying == refused
**% refused mop-up:** number_unsprayed_mopup, where reasons_for_not_spraying == refused
**% locked first visit:** number_unsprayed, where reasons_for_not_spraying == locked_or_no_one_home
**% locked mop-up**: number_unsprayed_mopup, where reasons_for_not_spraying == locke

[2018-07-27 10:49] sbabur opened #93 "Dashboard User Authentication Issue"
@onlyjsmith @TNgidi I was working with bwa user 'myusername' that the following Read/Write Access:

Read: Plan, Monitor, Record
Write: Plan Monitor Record

After updating the permissions to the below I received a "User does not have sufficient permissions to access this endpoint."

Read: Monitor, Record
Write: Monitor Record

I then changed it to the below and received the same error (including in

[2018-07-27 11:05] onlyjsmith commented on #93
cc @Nicolaidavies

[2018-07-27 12:01] Nicolaidavies commented on #93
@sbabur Thanks for reporting this.

I have added the permission `write:irs_plan` to the user `myusername` as a temporary solution until we fix the server.

[2018-07-27 12:13] sbabur commented on #93
Thanks – assuming until this is fixed a user needs read/write access to plan to use the dashboard? Would write-only access suffice? Don’t mind using that as a workaround and tabling this for later… there are just some users who won’t have access to plan.

Sameen

From: Nicolai Davies [mailto:notifications@github.com]
Sent: Friday, July 27, 2018 2:02 PM
To: disarm-platform/user-requests-and-feedbac

[2018-07-30 07:48] TNgidi commented on #71
@sbabur This has been done on staging and on production versions

[2018-07-31 08:39] sbabur commented on #71
@TNgidi Validated, can close

[2018-07-31 08:53] sbabur commented on #57
@onlyjsmith @TNgidi @Nicolaidavies

The approach we want to go with is to combine the duplicate villages.

Let’s say we have:
Village A, target 50 structures, polygon ABC
Village A, target 50 structures, polygon XYZ

Can we maintain the 2 polygons but have a single Village A with 100 target structures from the perspective of the form location select/dashboard calcukations, or would the polygons al

[2018-07-31 09:05] sbabur commented on #79
@TNgidi Validated in production, can close

[2018-07-31 09:05] sbabur commented on #80
@TNgidi Validated in production, can close

[2018-07-31 09:05] sbabur commented on #83
@TNgidi Validated in production, can close

[2018-07-31 09:05] sbabur commented on #84
@TNgidi Validated in production, can close

[2018-07-31 09:05] sbabur commented on #86
@TNgidi Validated in production, can close

[2018-07-31 09:05] sbabur commented on #87
@TNgidi Validated in production, can close

[2018-07-31 09:05] sbabur commented on #89
@TNgidi Validated in production, can close

[2018-07-31 09:05] sbabur commented on #90
@TNgidi Validated in production, can close

[2018-07-31 09:05] sbabur commented on #85
@TNgidi Validated in production, can close

[2018-07-31 09:44] sbabur commented on #92
@onlyjsmith Is it possible to send to a group? We discussed a limitation of the Groups being that anyone who messages the group would get added to the group, but I don't think we knew for sure? If it is possible the country teams said they would prefer to use a group, and then as people get added to the group as a result of sending messages, we would have the group admin remove them (CHAI person w

[2018-07-31 11:18] onlyjsmith commented on #92
Let’s discuss on call this Thurs

[2018-07-31 11:23] onlyjsmith commented on #88
Have made progress on approach. Aiming for staging this week.

[2018-08-01 11:06] sbabur opened #94 "Regression Bug - cannot load previous plan on dashboard"
https://www.useloom.com/share/2a5a6424068341308a91a349f8ae38c0?focus_title=1&muted=1

Bwa production - v1.3.1, instance ID  quluguze-799

[2018-08-01 12:30] TNgidi commented on #94
Thanks for reporting @sbabur, I am currently trying to reproduce this on my side

[2018-08-01 12:35] TNgidi commented on #94
I was able to reproduce it on my side. Investigating further

[2018-08-02 11:44] onlyjsmith commented on #93
Fix has been deployed on staging

[2018-08-02 12:26] onlyjsmith opened #95 "change read:plan permission for dashboard"
Currently require a user to have `read` access to _Plan_, even though we only want them to have access to the _Dashboard_.

[2018-08-02 12:47] sbabur commented on #93
Want to be able to view Monitor without any plan Read or Write permission as long as there is Monitor permission, @onlyjsmith I think you said you would be adding a new card for that?

From: Jonathan Smith [mailto:notifications@github.com]
Sent: Thursday, August 02, 2018 1:45 PM
To: disarm-platform/user-requests-and-feedback
Cc: Sameen Babur; Mention
Subject: Re: [disarm-platform/user-requests-and

[2018-08-03 07:50] Nicolaidavies commented on #57
@sbabur

Currently each polygon shows up as one option in the dropdown. Therefore both polygons would show in the dropdown with this approach.

We could rename one of the polygons to something that would stop users from selecting it. But this is not ideal.

Will look into this with @onlyjsmith.

[2018-08-03 07:54] Nicolaidavies commented on #93
@sbabur

The current behaviour is: if a user has `irs_monitor:read` they can read all plans and all records without requiring further permissions. But this does not give them access to the `irs_plan` applet.

What is described in card #95 is already implemented.

[2018-08-03 07:55] Nicolaidavies commented on #95
@onlyjsmith Believe we can close this card. See https://github.com/disarm-platform/user-requests-and-feedback/issues/93#issuecomment-410175798

[2018-08-03 08:07] sbabur commented on #57
@Nicolaidavies Thanks for confirming Nicolai - working something out with Dominic, but we will get you a shapefile with 1 polygon, 1 name - I think we will try and just merge the multiple polygons.

If that doesn't work - honestly, your suggestion about names like ZZZ seems like the better nuclear option from a data collector-not-being-confused perspective

[2018-08-03 08:12] TNgidi commented on #94
@sbabur what was the expected behaviour in this case? We think it is working well by selecting the 22 areas and painting them with the selected layer.

[2018-08-03 08:22] sbabur commented on #94
@TNgidi I think I was mistaken then, I was hitting Refresh after this video ends, and that is where it reverts back to the current plan - I think we can close this issue,

[2018-08-03 08:40] TNgidi commented on #94
OK thanks,
@onlyjsmith will close

[2018-08-03 08:56] Nicolaidavies commented on #91
@sbabur this was fixed on version `1.3.1`. Can you confirm, so we can move card to "Done"?

[2018-08-03 08:57] sbabur commented on #91
Confirmed fixed, can close

[2018-08-03 08:57] Nicolaidavies commented on #88
@onlyjsmith this was deployed on version `1.3.1`. Can we move to "Done"?

[2018-08-03 09:00] sbabur commented on #93
@Nicolaidavies Should I be testing in production?

[2018-08-03 09:18] Nicolaidavies commented on #93
@sbabur it should work on both production and staging.

[2018-08-03 12:08] sbabur commented on #57
@Nicolaidavies  See attached final geodata plan as a multipolygon

[nam_vlg_2018_multi_targeted.zip](https://github.com/disarm-platform/user-requests-and-feedback/files/2257262/nam_vlg_2018_multi_targeted.zip)

[2018-08-03 12:30] sbabur commented on #93
@Nicolaidavies Tested on production and still seeing this issue (cleared cache, logged back in, on production instance, v1.3.1)

![image](https://user-images.githubusercontent.com/37877007/43642922-a6ec7272-9729-11e8-8ae1-a9eaed50c3fc.png)

![image](https://user-images.githubusercontent.com/37877007/43642924-aad35dec-9729-11e8-8433-6643b9312de1.png)

![image](https://user-images.githubusercontent.

[2018-08-03 13:03] Nicolaidavies commented on #93
@sbabur

I forgot to add a permission on the server.

It should be fixed now.

[2018-08-03 13:46] sbabur commented on #93
Thanks, this is working now and we can close this issue

[2018-08-06 12:25] #94 closed

[2018-08-06 13:19] Nicolaidavies commented on #57
The NAM villages have been updated and deployed to staging and production.

[2018-08-06 13:25] #93 closed

[2018-08-06 13:25] #91 closed

[2018-08-06 13:26] #95 closed

[2018-08-06 13:26] onlyjsmith commented on #95
Already implemented - no action needed on this card

[2018-08-06 13:26] #85 closed

[2018-08-06 13:27] #90 closed

[2018-08-06 13:27] #89 closed

[2018-08-06 13:27] #87 closed

[2018-08-06 13:27] #86 closed

[2018-08-06 13:28] #84 closed

[2018-08-06 13:28] #83 closed

[2018-08-06 13:28] #80 closed

[2018-08-06 13:29] #79 closed

[2018-08-06 13:29] #71 closed

[2018-08-06 13:31] Nicolaidavies commented on #58
@sbabur

We updated the plan on production. It's called "2018 IRS Plan" with 2138 areas.

[2018-08-06 13:42] Nicolaidavies commented on #57
We are looking into extracting risk onto the villages.

[2018-08-06 14:04] onlyjsmith commented on #92
Hi @sbabur - I caught up with @TNgidi and it sounds like once an admin kicks out a user from a group they cannot return. Since we'll want users to only be in the group (and get messages) when their support request is being handled, and we can't be certain they'll remove themselves, it sounds like this group approach can't work.

Will also update #81, which relates.

[2018-08-06 14:07] onlyjsmith commented on #81
@sbabur At moment, it's configured to initiate a chat with the DiSARM team Whatsapp account. If we can get the numbers for the relevant NAM and BWA team members, we will do the work of creating the initial small-group chats for each request (these are very different to the large groups discussed in #92).

As discussed on the call, we'd like to start by coordinating these chats, adding in the NAM &

[2018-08-06 14:11] onlyjsmith commented on #57
As @Nicolaidavies mentioned, we're extracting risk back onto the geodata. At the moment it works fine at the moment, but the areas show up black on the dashboard map. Will update this card when we've updated the geodata.

[2018-08-06 16:05] sbabur commented on #81
@onlyjsmith Thanks Jonathan, sounds good. I will get all the numbers during training and we can keep the configuration as is for now.

The only concern with having your team as the go-between is the fact that you all are more likely to have a life and not respond at weird hours, but we will see how it goes!

[2018-08-06 16:10] sbabur commented on #88
@onlyjsmith Do you have a separate link I can test this out on?

[2018-08-07 07:08] sbabur commented on #58
@onlyjsmith @Nicolaidavies I'm looking at the plan, and the 2138 part looks correct, but only a lot of villages don't look selected - is this because of multipolygons? I didn't think there were that many.

![image](https://user-images.githubusercontent.com/37877007/43760102-71705dd4-9a21-11e8-96b0-1615f13d7e65.png)

[2018-08-07 09:28] onlyjsmith commented on #58
@sbabur Thanks - we'll take a look before the call later.

[2018-08-07 10:44] Nicolaidavies commented on #88
@sbabur Making gps or location selection optional requires a configuration change.

Please let us know which instance you would like to test it on.

[2018-08-07 10:46] Nicolaidavies commented on #58
@sbabur could I get you to test it in incognito?

We've discovered a bug related to updating the geodata, that's probably what's causing the plan to not show up correctly.

[2018-08-07 12:30] sbabur commented on #88
@Nicolaidavies I can test anytime this week on Namibia Staging, or the week of the 20th.

[2018-08-07 16:14] onlyjsmith commented on #81
Thanks @sbabur. We thought about the 'out of hours’ too - we thought that if there’s anything requiring urgent technical fixes, we’d only be able to get to it the following day anyway.

As we talked about earlier, maybe we could be clearer in training about what users can expect: We’re thinking this number is for technical support with DiSARM, and would not replace any other ways the country teams

[2018-08-10 06:29] sbabur commented on #88
@Nicolaidavies sorry for the delay. I tested this again on  v1.3.1-4-geaa18d4  and while no validation issue pops up and the COMPLETE button is still enabled, I now get a 'could not save record locally' error

![screenshot_2018-08-10-08-27-35](https://user-images.githubusercontent.com/37877007/43942243-78798f6c-9c77-11e8-8b7d-d137060fb280.png)

[2018-08-10 07:06] Nicolaidavies commented on #88
@sbabur Thank you for reporting it. We will take a look.

[2018-08-10 07:18] TNgidi commented on #88
@sbabur and @Nicolaidavies I am able to reproduce this, I am going to open a new issue to easily track it

[2018-08-10 07:19] TNgidi opened #96 ""Not able to save record locally" bug for optional GPS coordinates"

[2018-08-10 07:20] TNgidi commented on #88
Working on the bug in issue #96

[2018-08-10 07:27] sbabur opened #97 "Change unsprayed question to numeric on Namibia form"
@TNgidi Hi - just noticed that this 1 field got left alphanumeric instead of numeric. Could you quickly change this today or tomorrow?

![screenshot_2018-08-10-09-24-15](https://user-images.githubusercontent.com/37877007/43944568-9efab816-9c7f-11e8-85f7-6155ab065d2f.png)

[2018-08-10 07:33] TNgidi commented on #97
@sbabur Yes, we will change it and then inform you.

[2018-08-10 08:39] TNgidi commented on #96
@sbabur we are not managing to reproduce this anymore, if you are still able to could you post a loom video or the steps to reproduce it? Thanks

[2018-08-10 09:00] TNgidi commented on #97
@sbabur We have changed this and it is on the  Config: nam@1.0.22 staging and production.

[2018-08-10 09:10] sbabur commented on #96
@TNgidi I was not able to reproduce the timeout error and record at the same time, but here is the scenario replicated with the geolocation denied error after I blocked location services

https://www.useloom.com/share/31d2c26ae0084d5687050cbdadc11fc0

![image](https://user-images.githubusercontent.com/37877007/43949488-ee85fa04-9c8d-11e8-9590-44d1f4182958.png)

![image](https://user-images.githubu

[2018-08-10 09:12] sbabur commented on #97
@TNgidi Thank you! Validated and can close

[2018-08-13 12:00] Nicolaidavies commented on #96
@sbabur

Thanks for the console output (really useful). We've come up with a fix, but it requires some testing as it touches on the core parts of the recording applet.

I will update you when it's ready for you to test.

[2018-08-13 12:48] TNgidi commented on #97
Thanks, @onlyjsmith will close it

[2018-08-15 04:45] sbabur commented on #41
@onlyjsmith @TNgidi @Nicolaidavies

We have the updated geodata for Botswana to include all districts. There is a unique ID column and an ID column. The ID one has a few duplicates, but the unique ID one does not. Can you remind me where the underlying issue was with these IDs?

If all is good to go with this shapefile, please swap the geodata. Otherwise, let me know if changes need to be made.

A

[2018-08-15 04:47] sbabur commented on #41
@onlyjsmith @TNgidi @Nicolaidavies

It looks like you added the unique ID column and started using that? If so, great - Dominic stuck with ensuring that column was unique.

[2018-08-15 04:48] sbabur commented on #39
@onlyjsmith Unfortunately, the HOT data has still not been uploaded to OSM so we will not be able to utilize this for the upcoming IRS season

[2018-08-16 06:59] TNgidi commented on #41
@sbabur thank you sending the file, we will validate it and upload it to staging version if valid. We will test it then let you know to test too.

[2018-08-16 07:49] Nicolaidavies commented on #41
@sbabur

We will use the `unique_ID` as the id field, because all values are unique. There are still some duplicates for the field `Id`.

We've used the field `VILLAGE` as the display field (what the user sees), but it's not unique. This means duplicates will show up in the location_selection and ultimately affect the aggregations on the dashboard.

Can you make `VILLAGES` unique?

[2018-08-16 08:03] sbabur commented on #41
@Nicolaidavies I think we are ok with the duplicate villages given that we show district alongside it, so users will know which one is which.

![image](https://user-images.githubusercontent.com/37877007/44196227-a220c880-a13b-11e8-8211-c7590c2f9a73.png)

[2018-08-16 08:04] Nicolaidavies commented on #41
@sbabur

Ok, I will update the geodata on staging and let you know when it's ready for testing.

[2018-08-16 08:04] sbabur commented on #41
@Nicolaidavies One thing I did notice though - can you make the case consistent? I see there is a mix of Village and VILLAGE

I can ask Dominic as well but not sure he will respond quickly

[2018-08-16 08:07] Nicolaidavies commented on #41
@sbabur

I would prefer if Dominic can do it, that way the source file gets fixed. Then we can avoid updating it when/if changes need to be made.

Since it's a cosmetic thing, I will still go ahead and test it on staging.

[2018-08-16 08:14] sbabur commented on #41
@Nicolaidavies No problem - will reach out to Dominic

[2018-08-16 08:16] Nicolaidavies commented on #41
@sbabur Thank you.

I've updated the villages on staging. The config version is 1.0.23.

@TNgidi is currently testing it.

I will push to production when you, @sbabur, say go.

[2018-08-16 08:18] sbabur commented on #41
@Nicolaidavies Thanks! I'll be occupied training Namibia on DiSARM for the rest of the day but will test out this evening.

[2018-08-20 06:07] sbabur commented on #41
@Nicolaidavies @TNgidi Here is the final shapefile Nicolai. I checked out the previous version on Staging and it looked good, but I can go ahead and test this new one on Staging too before its committed to production. Dominic fixed the text case and added in the missing risk values. We do have a lot of missing structure counts and room counts (for non-targeted) villages due to getting this informa

[2018-08-22 07:22] sbabur commented on #41
@Nicolaidavies @mosaic141688 Checking in on the shapefile swap. As a heads up, Botswana trainings start on Monday the 27th so want to make sure this is validated and ready to go in advance.

[2018-08-22 20:23] HughSt commented on #41
@sbabur - just acknowledging your message. Nicolai has been out sick but will get to this on his return.

[2018-08-23 06:42] sbabur commented on #41
@HughSt Hi Hugh - noted. Can we plan for some potential troubleshooting availability over the weekend then? We are doing practicals with the entire Botswana team starting Monday so we need to ensure there is enough time for me to test and report any potential problems. I don't envision any given the Botswana shapefile update has been straightforward thus far, but should plan accordingly just in ca

[2018-08-23 06:57] Nicolaidavies commented on #41
@sbabur Thank you for your patience.

I've updated the villages on staging.

I can update production when you give the go-ahead.

[2018-08-23 07:55] sbabur commented on #41
@Nicolaidavies Thanks Nicolai, looks good, - you can move to production and I'll do end-to-end testing tonight in the slim chance there is any issue that pops up.

Hope you are feeling better!

[2018-08-23 08:01] Nicolaidavies commented on #41
@sbabur

The villages are now updated on production.

Thanks, I'm getting there slowly.

[2018-08-27 07:27] TNgidi opened #98 "Missing target structures"
Steps that produced the issue
[incognito.docx](https://github.com/disarm-platform/user-requests-and-feedback/files/2322817/incognito.docx)

Reset -> load plan -> targets appear fine
Load records in monitor -> no targets appear
Return to plan -> targets are now missing from plan too

[2018-08-27 07:28] TNgidi commented on #98
Issue solved by Nicolai, opening here for documentation purposes

[2018-08-27 07:28] #98 closed

[2018-08-29 21:00] HughSt commented on #57
Looks like I did this on August 6th - seem to remember putting the file back into the thread here on GitHub but that must have been a different issue..attaching again
[nam.villages.geojson.zip](https://github.com/disarm-platform/user-requests-and-feedback/files/2333768/nam.villages.geojson.zip)

[2018-08-30 11:28] Nicolaidavies commented on #57
@sbabur I've updated the villages on nam staging. Could you give it a test?

Will move to production when you give the the go-ahead.

[2018-09-03 06:01] sbabur opened #99 "Update Botswana Form"
@onlyjsmith @TNgidi @Nicolaidavies I can make the form changes - can you add the existing json here?

Summary of changes:
- Update language
- Remove nets questions
- Do not ask enumeration questions on mop-up visits
- Add a question on unsprayable rooms and remove Unsprayable as a reason for not sprating

[2018-09-03 06:02] sbabur opened #100 "Add Head of Household name to Botswana dashboard response points"
@onlyjsmith @TNgidi Like Namibia, Botswana also wants to see the form field for head of household name when you click on the map response points

[2018-09-03 06:13] sbabur opened #101 "Botswana Dashboard - Unsprayable column modifications"
@onlyjsmith @Nicolaidavies @TNgidi

Will need to provide you with the new form first, but summary of changes below

1) Remove "Number of rooms not sprayed" column - this is redundant with "Number of sprayable rooms not sprayed" and will be N/A with new form
2) "Number of rooms not sprayable (N)" - remove "(N)" from label and map to new integer field in form (new form to be provided)
3) Remover "Nu

[2018-09-03 09:13] Nicolaidavies commented on #99
Hi @sbabur

Please find the current form attached.

[20180903.bwa.form.json.txt](https://github.com/disarm-platform/user-requests-and-feedback/files/2344923/20180903.bwa.form.json.txt)

[2018-09-03 09:15] Nicolaidavies commented on #101
Hi Sameen,

1. Yes
2. Yes
3. Yes
4. Should be able to do, need to ensure it doesn't have any side effects first.

[2018-09-04 07:27] TNgidi commented on #100
@sbabur Thanks, we will implement this

[2018-09-04 08:34] TNgidi commented on #57
In an email @sbabur  confirmed this ready to close

[2018-09-04 08:37] TNgidi commented on #41
@sbabur confirmed that we can close this in an email

[2018-09-04 08:39] TNgidi commented on #58
We can close this one, as @sbabur  confirmed in an email

[2018-09-04 08:41] TNgidi commented on #77
This is okay to close, confirmed by @sbabur in an email

[2018-09-04 08:49] TNgidi commented on #14
This ok to close. @onlyjsmith  I made a copy in our internal tickets board

[2018-09-04 08:54] TNgidi commented on #96
Comment from @sbabur from an email. Thought I Should copy and paste here for progress on this issue:

[Let’s hold off on deploying this fix. I did not manage to test this on Staging though – I think it was not working when I was chatting with Nicolai and might have gotten sidetracked and did not test again. Can we test on Staging without impacting Prod?

I think @Nicolaidavies has the answer to th

[2018-09-04 17:13] sbabur commented on #99
@TNgidi @Nicolaidavies I'm getting a 502 server error on survey js so I tried updating it in Notepad++ directly D:

Are you two having any luck with surveyjs?

Hopefully syntax error-free form attached. You can see that "n_rooms_material' is no longer an integer input as a refusal category, we now have a field called 'unsprayable' to capture the number of unsprayable rooms on the same page we capt

[2018-09-05 07:31] TNgidi commented on #99
Thanks for the form @sbabur it all works well, but I do not understand what you mean when you say "You can see that "n_rooms_material' is no longer an integer input as a refusal category". I tried to find the field "n_rooms_material" to understand more about it but I did not find it, did you completely remove it?

[2018-09-05 11:28] sbabur commented on #99
Yes I completely removed that field. Instead of specifying at the end how many rooms were not sprayed due to being unsprayable, i removed that and added a separate new question in the page where we collect household room information.

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Thokozani Ngidi <notifications@github.com>
Date: 9/5/18 9:32 AM (GMT+02:00)

[2018-09-05 14:37] TNgidi commented on #99
Okay, I understand now. We will work on it and let you know to test

[2018-09-06 06:31] sbabur commented on #101
@Nicolaidavies Thanks Nicolai, 4 we can live without if it causes problems but huge nice to have.

[2018-09-06 06:35] sbabur commented on #99
@TNgidi Thanks Thokozani. Can you let me know when you are aiming to have these 3 changes ready for me test? Would by end of week be possible?

[2018-09-06 06:43] TNgidi commented on #99
@sbabur It should be ready after lunch. @Nicolaidavies will be working on it around noon

[2018-09-06 08:02] TNgidi commented on #99
@sbabur Please try again with surveyjs editor on your side, we have uncovered errors on the form you sent.

[2018-09-06 08:14] Nicolaidavies commented on #100
@sbabur Head of household name has been added to the response points on config version 1.0.25 on staging.

[2018-09-06 08:33] sbabur commented on #99
See attached

[Botswana_Form_Sep062018.zip](https://github.com/disarm-platform/user-requests-and-feedback/files/2356207/Botswana_Form_Sep062018.zip)

[2018-09-06 08:34] TNgidi commented on #99
@sbabur Thanks

[2018-09-06 11:39] Nicolaidavies commented on #99
@sbabur The form has been updated on config version 1.0.25 on staging.

[2018-09-06 11:39] Nicolaidavies commented on #101
@sbabur The dashboard has been updated on config version 1.0.25 on staging. All except 4 are done.

We will probably want to open a separate issue for number 4.

[2018-09-06 11:50] sbabur commented on #101
@Nicolaidavies Hi Nicolai, if 4 is not a quick thing we can leave it...what do you think?

Focusing on 1-3 for now, it looks like not all of the dashboard components are showing. Its missing the summary table, Spray room coverage bar chart and reasons for not spraying room pie chart. I had the same issues when using incognito mode

![screencapture-bwa-app-stage-disarm-io-irs-monitor-2018-09-06-13_

[2018-09-06 11:52] sbabur commented on #100
@Nicolaidavies Looks good, validated. Once dashboard issue resolved can release all 3 together (#99 and #101)

[2018-09-06 11:53] sbabur commented on #99
@Nicolaidavies Looks good, validated, will just wait for #101 to be resolved

[2018-09-06 12:39] Nicolaidavies commented on #101
@sbabur

4. will take a bit longer. @TNgidi can you note this please? We might get to it later.

I'll take a look at the charts and try to get them working.

[2018-09-06 13:39] Nicolaidavies commented on #101
@sbabur

I've updated the charts, they were using the old aggregations.

[2018-09-06 14:25] sbabur commented on #101
@Nicolaidavies Charts all good now, but I don't see the summary table under the map

[2018-09-06 14:48] sbabur commented on #101
![image](https://user-images.githubusercontent.com/37877007/45165228-a436ee00-b1f4-11e8-813b-a64f083ad415.png)

[2018-09-07 09:26] Nicolaidavies commented on #101
@sbabur It should be fixed now.

[2018-09-07 09:39] sbabur commented on #101
@Nicolaidavies Thank you! Just one more comment - it is missing the "Number of unsprayable rooms visited" column, which would be an aggregation of the field 'unsprayable'

The column should go here:
![image](https://user-images.githubusercontent.com/37877007/45211460-a780b700-b292-11e8-8add-0cdaa2b47356.png)

[2018-09-10 07:01] sbabur commented on #101
@Nicolaidavies Hey Nicolai - checking in to see if this can be picked back up today. Everything else looks good.

[2018-09-10 07:04] Nicolaidavies commented on #101
@sbabur I will look at this asap.

[2018-09-10 08:07] Nicolaidavies commented on #101
@sbabur I've added the column now.

Let me know when it's ready for production.

[2018-09-10 08:11] sbabur commented on #101
@Nicolaidavies Thanks Nicolai, everything looks great - can move to production.

[2018-09-11 08:18] Nicolaidavies commented on #101
@sbabur It's live on production now

[2018-09-11 12:10] sbabur commented on #101
@TNgidi  Validated in production, can close

[2018-09-11 12:11] sbabur commented on #100
@TNgidi Validated in production, can close

[2018-09-11 12:18] sbabur commented on #99
@Nicolaidavies Hi Nicolai, apologies but I missed one skip logic in the form according to the country team! (do not need to ask about unsprayed rooms during mop-ups). Can you update the form with the attached?

[Botswana_Form_Sep112018.zip](https://github.com/disarm-platform/user-requests-and-feedback/files/2370884/Botswana_Form_Sep112018.zip)

[2018-09-11 12:20] Nicolaidavies commented on #99
@sbabur no problem. I updated staging to version 1.0.26.

[2018-09-11 12:27] sbabur commented on #99
@Nicolaidavies ugh last one....had a typo

[Botswana_Form_Sep112018.zip](https://github.com/disarm-platform/user-requests-and-feedback/files/2370925/Botswana_Form_Sep112018.zip)

[2018-09-11 12:33] Nicolaidavies commented on #99
@sbabur It's been updated, still on version 1.0.26.

Can I ask you to get the json as "Valid json" from surveyJS editor? It saves me an extra step.

[2018-09-11 12:38] sbabur commented on #99
@Nicolaidavies yes of course, completely forgot about that step. Everything looks good, can move to prod.

[2018-09-12 09:31] Nicolaidavies commented on #99
@sbabur Now on production with version 1.0.26.

[2018-09-14 12:15] #100 closed

[2018-09-14 12:15] #101 closed

[2018-09-14 12:18] sbabur commented on #99
Validated, can close

[2018-09-14 12:19] #92 closed

[2018-09-14 12:20] onlyjsmith commented on #92
WhatsApp groups won't work for our needs (too fiddly to remove users after they've had their query resolved, and then let them rejoin). Working instead on #81

[2018-09-14 12:28] #14 closed

[2018-09-14 12:28] #77 closed

[2018-09-14 12:29] #39 closed

[2018-09-14 12:30] #41 closed

[2018-09-14 12:30] #57 closed

[2018-09-14 12:30] #97 closed

[2018-09-14 12:31] #58 closed

[2018-09-18 11:59] onlyjsmith opened #102 "unable to download the raw data"
from @sbabur: "often unable to download the raw data due to volume (just freezes) – could I request a weekly extract from your team?"

[2018-09-18 12:00] onlyjsmith commented on #102
@sbabur Thanks for reporting. We’re going to investigate the options, and report back on this card. Weekly extract should be possible, just want to check if there’s something simpler.

[2018-09-19 08:55] sbabur opened #103 "Error while retrieving records"
@onlyjsmith @TNgidi @Nicolaidavies Hi all - I'm getting an 'Error while retrieving records' error on my computer, which I suspect could have something to do with a chrome update that just happened since it was working fine all week up until now. Still working great on my phone. Any of you experiencing the same issue? Version 69.0.3497.100

![image](https://user-images.githubusercontent.com/3787700

[2018-09-19 08:57] TNgidi commented on #103
@sbabur Going to investigate on my side

[2018-09-19 09:09] TNgidi commented on #103
![1](https://user-images.githubusercontent.com/36029281/45743402-35965f00-bbfc-11e8-8916-5b929b03168f.png)
@sbabur I am not managing to reproduce it, please try logging out and back in again.

[2018-09-19 09:57] sbabur commented on #103
@TNgidi Still experiencing the same issue, both with sameen.babur and test.username...I'll try again later when I am on a different network

[2018-09-19 10:06] TNgidi commented on #103
@sbabur okay, I think that will help, I have just tried mine on incognito again and it still worked perfectly and I am on the same version as you (69.0.3497.100).

[2018-09-20 16:50] sbabur commented on #103
@TNgidi Seems to be ok now...we can close this

[2018-09-21 06:42] TNgidi commented on #103
OK, thanks. Let us know if it pops up again on your side.

[2018-09-25 14:03] sbabur commented on #3
@onlyjsmith Hi Jonathan,

I’m not seeing a timestamp for the when Namibia forms were actually synced. Am I looking in the wrong place or did this disappear?

I only see the following:
recorded_on
initial_form_completion_duration_seconds
most_recent_form_completed_time
updated_at

[2018-09-25 14:19] onlyjsmith commented on #3
hi @sbabur, thanks for reporting. we’ll take a look. I don’t think we’ve removed any fields.
On 25 Sep 2018, 16:03 +0200, sbabur <notifications@github.com>, wrote:

[2018-09-25 14:19] onlyjsmith opened #104 "investigate missing timestamps"
from @sbabur:

I’m not seeing a timestamp for the when Namibia forms were actually synced. Am I looking in the wrong place or did this disappear?
I only see the following:

[2018-09-25 14:20] onlyjsmith commented on #3
i've opened a new issue at https://github.com/disarm-platform/user-requests-and-feedback/issues/104

[2018-09-25 14:22] sbabur commented on #3
Thanks Jonathan.

Please no updates without discussing first!

From: Jonathan Smith [mailto:notifications@github.com]
Sent: Tuesday, September 25, 2018 3:20 PM
To: disarm-platform/user-requests-and-feedback
Cc: Sameen Babur; Mention
Subject: Re: [disarm-platform/user-requests-and-feedback] Record relevant data collection timestamps (#3)

hi @sbabur, thanks for reporting. we’ll take a look. I don’t

[2018-09-27 07:14] Nicolaidavies commented on #104
@sbabur

The updated_at field is a timestamp of when the record was synced to the server.

[2018-09-27 07:29] onlyjsmith commented on #104
@sbabur noted comment about updates - we're only investigating.

[2018-09-27 07:32] Nicolaidavies commented on #104
@sbabur

The `updated_at` field is saved as a unix epoch (seconds since 1/1/1970).

You should be able to convert it into a regular date using this guide: https://www.extendoffice.com/documents/excel/2473-excel-timestamp-to-date.html

Take a look at the section labelled "Convert Timestamp To Date".

Let me know if you have any problems doing so.

[2018-10-05 06:47] onlyjsmith opened #105 "update NAM plan with missing villages"

[2018-10-05 06:48] onlyjsmith opened #106 "NAM: replace custom-locations with location records"

[2018-10-05 06:56] #99 closed

[2018-10-08 13:16] sbabur commented on #104
@TNgidi Can close - was able to use Nicolai's guidance

[2018-10-08 13:19] sbabur commented on #105
@onlyjsmith @Nicolaidavies @TNgidi Updated geojson is attached

[nam_IRS target vlg 2018_multi_update181007.zip](https://github.com/disarm-platform/user-requests-and-feedback/files/2456048/nam_IRS.target.vlg.2018_multi_update181007.zip)

[2018-10-08 13:19] sbabur commented on #106
*Updating with new attachment

@onlyjsmith @TNgidi I was able to map 1326 records.

Left column is the form ID, the 3 red columns are what is currently in the db for location, and the 3 green columns are the contents to replace the red columns with.

[Nam Response mapping Oct8.xlsx](https://github.com/disarm-platform/user-requests-and-feedback/files/2456084/Nam.Response.mapping.Oct8.xlsx)

[2018-10-08 13:30] sbabur commented on #105
Note that not all the villages have targets - we would just get the aggregations from them, but no coverage calculation

[2018-10-08 14:20] #104 closed

[2018-10-08 14:20] onlyjsmith commented on #104
Thanks @sbabur

[2018-10-10 13:06] TNgidi commented on #106
Thank you for the file, @onlyjsmith and I reviewed them. We will update you on timing today.

[2018-10-10 13:07] TNgidi commented on #105
Thank you for the Geojson file, @onlyjsmith and I reviewed it and we will update you on timing today.

[2018-10-11 08:41] sbabur commented on #105
@onlyjsmith @TNgidi Sorry all but the updated shapefile was ALSO based on some outdated microplan files (dealing with 22 Excel files here)

 -_-

Dominic is working on a new shapefile and I will have to remap. Also applies to #106

[2018-10-11 15:15] TNgidi opened #107 "Deleting test data from user "myusername""

[2018-10-11 15:34] onlyjsmith commented on #107
@sbabur can you comment on whether the above reflects what we discussed, and (prob more importantly!) what you want to happen :-), and whether we should go-ahead or not. We should be able to do this within a couple days of getting the go-ahead from you.

@TNgidi - same for you, if you think we need to do something different.

[2018-10-12 08:13] sbabur commented on #107
@onlyjsmith @TNgidi

YES this description is correct.

Country team person I need to confirm with is out sick today, but I will get back to you early next week on this!

[2018-10-12 08:15] onlyjsmith commented on #107
@sbabur thanks Sameen - no rush, let us know when you’ve confirmed.

[2018-10-12 14:14] TNgidi commented on #105
Thanks for informing us @sbabur.

[2018-10-12 14:18] TNgidi commented on #107
@onlyjsmith confirming It is what we discussed on the call.

[2018-10-15 09:06] onlyjsmith commented on #105
Same comment for this and #106 - changing the data in production during active use has plenty of risks. Waiting to determine implications of _not_ making these 2 changes.

[2018-10-15 09:06] onlyjsmith commented on #106
Same comment for this and #105 - changing the data in production during active use has plenty of risks. Waiting to determine implications of not making these 2 changes.

[2018-10-15 09:07] onlyjsmith commented on #12
Closing with update: not going to change anything for the currently deployed (NAM + BWA) instances during the 2018 season. We’ll continue to explore as part of internal developments

[2018-10-15 09:07] #12 closed

[2018-10-15 09:08] onlyjsmith commented on #62
Closing - no further action needed on this.

[2018-10-15 09:08] #62 closed

[2018-10-15 09:09] onlyjsmith commented on #96
Waiting till end of season to deploy and test.

[2018-10-15 09:13] onlyjsmith commented on #102
We’ve identified a bottle-neck in the current app which limits ability to download large files of responses. We’re going to add a single additional ‘endpoint’ to the server to allow @sbabur to get downloads of all the responses. We’ll deploy this to staging API server and test with Sameen before deploying to production. Will not require users to upgrade or change anything in their apps.

(We're wo

[2018-10-29 01:14] sbabur commented on #107
@TNgidi @onlyjsmith Country team was a bit delayed in getting back to me, but confirming here that all records where username == myusername can be removed from the Botswana instance

Thank you!

[2018-10-29 07:10] TNgidi commented on #107
Thank you for the confirmation @sbabur

[2018-10-29 13:49] TNgidi opened #109 "Records getting lost when sim cards are changed"
Records getting lost when sim cards are changed on tablets. Reported by @sbabur on an email

[2018-10-29 13:50] TNgidi commented on #109
We are trying to reproduce it on our side

[2018-10-29 17:04] sbabur commented on #109
@TNgidi  Great thanks! I don't have another sim card to test this scenario out, or another kind soul willing to lend me theirs

[2018-11-06 04:05] sbabur commented on #109
@TNgidi Were you able to test out this scenario?

[2018-11-06 04:06] sbabur commented on #102
@onlyjsmith Any update on this? I'm starting to experience issues with the download

[2018-11-06 12:48] TNgidi commented on #109
@sbabur Yes I tested this but was not able to reproduce the error. I made records with the sim card inserted, then put in a different SIM card and the records were still in the device waiting to be synched.

[2018-11-06 13:21] onlyjsmith commented on #107
Steps followed:

1. `db.records.find({username: 'myusername', country: 'bwa', personalised_instance_id: 'default'}).count()` --> 391
2. `db.records.update(
    {username: 'myusername', country: 'bwa', personalised_instance_id: 'default'},
    {$set: {personalised_instance_id: '2018-11-06-backup'}},
    {multi: true}
)` --> 391
3. `db.records.find({username: 'myusername', country: 'bwa', personalis

[2018-11-06 14:56] sbabur commented on #109
@TNgidi Noted, thanks - I will test later this week when I get to zim as well

[2018-11-07 15:19] TNgidi commented on #102
@sbabur two updates:

1. We’ve implemented a fix and it is waiting to be installed on the production version of the server (see below for instructions to test it out)

2. We've also written a script I can run download all the responses for you from the BWA and NAM instances - whenever you need this just let me know.

**Instructions for testing bulk download on demo instance**
If you have time, fee

[2018-11-08 12:32] TNgidi commented on #102
We are having difficulty with our download script but we’re continuing to work on it. Don't hesitate to ask me if you want a bulk download and we’ll figure something out on our side

[2018-11-14 08:20] TNgidi opened #110 "CSV downloads request for NAM and BWA"
Request from @sbabur on an email for a csv download of records from NAM and BWA instances

[2018-11-14 14:40] TNgidi commented on #110
@sbabur I have attached a zipped folder with both CSV files (BWA and NAM) enclosed inside.

[Records_NAM_BWA11142019.zip](https://github.com/disarm-platform/user-requests-and-feedback/files/2580750/Records_NAM_BWA11142019.zip)